.visits-table {

  td, th {
    width: 15%;
  }

  .key {
    width: 25%
  }
}

.Profile-latest-value{
  float:right;
  .unit{
    font-size: 11px;
  }
}

.Profile-heading{
  float:left;
}

.Profile{
  .Panel{
    height:280px
  }
}