<a
    ui-sref="main.account.patients({restoreFilters: 'restoreFilters'})"
    class="Button Button--primary Button--large"
    ng-if="backToSearchVisible">
    <i class="fa fa-arrow-left"></i>Gå tillbaka till Söklista
</a>

<div class="row PatientProfile-Header">
    <div class="col-md-5">
        <h1 class="Page-title">Patientprofil</h1>
    </div>
    <div class="col-md-7 text-right">
        <form class="PatientSearch" role="search" name="subjectForm" novalidate>
            <div class="PatientSearch-inner">
                <span class="PatientSearch-icon"><i class="fa fa-search" style="color:#999"></i></span>
                <input class="PatientSearch-input" name="socialnumber" ng-model="socialnumber" type="search" placeholder="Skriv in personnummer" required ng-pattern="pnrRegex">
                <button
                    style="border-left: 1px solid white;"
                    ng-click="getSubject()"
                    ng-disabled="subjectForm.socialnumber.$pristine || subjectForm.socialnumber.$dirty && subjectForm.socialnumber.$invalid"
                    class="PatientSearch-reportButton">
                    Visa profil
                </button>
            </div>
        </form>
    </div>
</div>
<div id="patient" ng-show="hasError">
	<span>{{ errorMessage }}</span>
</div>
<div id="patient" ng-show="subject && !hasError">
    <div class="row">
        <div class="col-md-12">
            <div class="PatientHeader clearfix">
                <div class="PatientHeader-personNumber col-md-4 u-noLeftPadding">
                    <i class="fa fa-user"></i>  {{ subject.socialNumber }}
                </div>
                <div class="PatientHeader-navigation col-md-8 u-noRightPadding text-right">
                    <a class="Button--tight Button Button--dark" ui-sref="main.account.patientPrint({patientID: subject.subjectID})"><i class="fa fa-print"></i> Skriv ut</a>
                    <a style="margin-right: 20px" href="#/inloggad/rapportera/{{ subject.subjectID }}" class="Button--tight Button Button--dark"><i class="fa fa-plus-circle"></i> Rapportera / Komplettera</a>
                    <div class="btn-group pull-right">
                        <label class="btn Button--tight Button Button--dark" ng-model="model.mode" btn-radio="'visual'"><i class="fa fa-area-chart"></i> Profil</label>
                        <label class="btn Button--tight Button Button--dark" ng-model="model.mode" btn-radio="'table'"><i class="fa fa-table"></i> Tabell </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div ng-show="model.mode == 'visual'" class="Profile">
        <div class="row" id="printableArea">
            <div class="col-md-12">
                <div class="Panel Panel--blue clearfix" style="padding: 0px; height:auto">
                    <div class="Panel--profile col-md-4" style="line-height: 26px; font-size: 15px;font-weight: 300">
                        <p>{{ subject.sexText + ", " + calculateAge(subject.dateOfBirth) }} år gammal</p>
                        <p>{{ getDiabetesType(subject.diabetesType) }}</p>
                        <p>Debutår: {{ subject.yearOfOnset }}</p>
                        <p>Diabetesbehandling: {{ model.latest.treatment.label }}</p>

                        <p ng-show="model.latest.treatment.label == 'Insulin'">
                            Metod att ge insulin: {{ model.latest.insulinMethod.label }}
                        </p>

                        <p ng-show="model.latest.insulinMethod.label == 'Insulinpump'">
                            Pågående pumpmodell: {{ model.latest.pumpOngoing.label }}
                        </p>
						<p>Senaste besök: <span class="strong">{{ model.latest.contactDate.label }}</span></p>
                    </div>

                    <div class="Panel--profile col-md-4 text-center">
                        <div class="col-md-7">
                            <ul style="list-style-type: none; text-align: right; line-height: 40px;padding:0px">
                                <li><i class="fa"></i> <span class="unit">Vikt</span>  {{model.latest.weight.value.toString().replace('.',',') }} <span ng-if="model.latest.weight.value>0" class="unit">kg</span></li>
                                <li><i class="fa"></i> <span class="unit">Längd</span> {{ model.latest.height.value }} <span ng-if="model.latest.height.value>0" class="unit">cm</span></li>
                                <li><i class="fa"></i> <span class="unit">BMI</span> {{ model.latest.bmi.value.toString().replace('.',',') }} <span ng-if="model.latest.bmi.value>0" class="unit">kg/m <sup>2</sup></span></li>
                                <li><i class="fa"></i> <span class="unit">Midjemått</span> {{ model.latest.waist.value }} <span ng-if="model.latest.waist.value>0" class="unit">cm</span></li>
                            </ul>

                            <!-- <h4 class="Profile-latest-value" style="float:none;margin-bottom: 20px">
                                {{ model.latest.bmi.value }}
                                <i class="fa fa-heartfa-dot-circle-o"></i>
                            </h4>
                            <h4 class="Profile-latest-value"  style="margin-bottom: 20px">
                                {{  model.latest.weight.value }}
                                <span class="unit">kg</span>
                            </h4>
                            <h4 class="Profile-latest-value" style="">
                                {{ model.latest.height.value }}
                                <span class="unit">cm lång</span>
                            </h4> -->
                        </div>

                        <div class="col-md-5 text-center">
                            <div>
                                <i class="Profile-latest-value fa fa-silu"  style="color: #529BBB;font-size: 200px;"></i>
                                <!--<h4 class="Profile-latest-value" style="float:none">{{  model.latest.waist.value }} <br/>
                                    <span class="unit">midjemått cm</span></h4>-->
                            </div>
                        </div>
                    </div>

                    <div class="Panel--profile Panel--profile-last col-md-4">
                        <h4 class="Profile-heading">HbA1c</h4> <h4 class="Profile-latest-value">{{ model.latest.hba1c.value }} <span class="unit">mmol/mol</span></h4>
                        <div class="" line-chart-patient-hba1c model="model.data.trend.hba1c"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="Panel">
                    <h4>Blodlipider</h4>
                    <div class="col-sm-6" line-chart-patient-cholesterol title="'Kolesterol &amp; Triglycerider'" model="model.data.trend.combinedCholesterol"></div>
                    <div class="col-sm-6" line-chart-patient-cholesterol title="'LDL &amp; HDL'" model="model.data.trend.combinedLDLHDL"></div>
                    <div> Behandlas med lipidsänkande läkemedel: <strong>{{ model.latest.lipidLoweringDrugs.label }}</strong></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="Panel">
                    <h4 class="Profile-heading">Blodtryck</h4><h4 class="Profile-latest-value">{{model.latest.bpSystolic.value + "/" + model.latest.bpDiastolic.value }} <span class="unit">mm Hg</span></h4>
                    <div class="" line-chart-patient-bp model="model.data.trend.combinedBp"></div>
                    <div>Behandlas med blodtryckssänkande läkemedel: <strong>{{ model.latest.antihypertensives.label }}</strong></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="Panel Panel--purple">
                    <h4 class="Profile-heading">Hjärt-/kärlsjukdom</h4><i class="Profile-latest-value fa fa-heart" class="pull-right" style="font-size: 30px;"></i>
                    <table class="table table-condensed">
                        <tbody>
                            <tr><td>Ischemisk hjärtsjukdom</td><td>{{ model.latest.ischemicHeartDisease.label }}</td></tr>
                            <tr><td>Cerebrovaskulär sjukdom</td><td>{{ model.latest.cerebrovascularDisease.label }}</td></tr>
                            <tr><td>Behandlas med ASA</td><td>{{ model.latest.aspirin.label }}</td></tr>
                            <tr><td>Waran</td><td>{{ model.latest.waran.label }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-4">
                <div class="Panel">
                   <h4 class="Profile-heading">Fysisk aktivitet</h4>  <i class="Profile-latest-value icon " class="" style="font-size: 30px;"></i>
                    <div class="PhysicalChart" physical-chart model="model.latest.physicalActivity">
                        <div style="padding-top:50px;clear:both"></div>
                        <div
                            ng-repeat="item in model.latest.physicalActivity.domainValues"
                            ng-style="{'font-weight' : model.latest.physicalActivity.value == item.code ? 'bold' : 'normal' }"
                            style="text-align:center;width: 20%;float:left"
                            ng-class="{'active' : model.latest.physicalActivity.value == item.code }">
                                <div style="height:35px;border:2px solid #fff;" ng-style="{'background-color' : model.latest.physicalActivity.value == item.code ? '#74bad8' : '#ccc' }"></div>
                                <span style="font-size: 12px">{{ item.text}}</span>
                        </div>
                        <div style="text-align: center">(gånger per vecka)</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="Panel Panel--purple">
                    <h4 class="Profile-heading">Rökning</h4>  <i class="Profile-latest-value fa fa-noun_100084_cc" style="font-size: 40px;"></i>
                    <h3 class="text-center" style="margin-top: 80px">{{ model.latest.smokingHabit.label }}</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="Panel Panel--green">
                    <h4 class="Profile-heading">Fötter</h4>  <i class="Profile-latest-value fa fa-noun_4820_cc" class="" style="font-size: 55px;"></i>
                    <table class="table table-condensed">
                        <tr>
                            <td>Riskkategori</td>
                            <td>{{ model.latest.footRiscCategory.label }}</td>
                        </tr>
                        <tr>
                            <td>Senaste fotundersökning</td>
                            <td>{{ model.latest.footExaminationDate.label }}</td>
                            <td>
                                <div ng-show="checkFootDate(model.latest.footExaminationDate)">
                                    <i tooltip="OBS: Senaste rapporterade fotundersökning har ett datum mer än 1 år tillbaka i tiden." class="fa fa-exclamation"></i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-md-4">
                <div class="Panel Panel--green">
                    <h4 class="Profile-heading">Ögon</h4>  <i class="Profile-latest-value fa fa-eye" class="" style="font-size: 30px;"></i>
                    <table class="table table-condensed">
                        <tr>
                            <td width="80">Diabetesretinopati</td>
                            <td width="20" style="width:50%">{{ model.latest.diabeticRetinopathy.label }}</td>
                        </tr>
                        <tr>
                            <td width="80">Diagnos på sämsta ögat</td>
                            <td width="20">{{ model.latest.diagnosisWorseSeeingEye.label  }}</td>
                        </tr>
                        <tr>
                            <td width="80">Laserbehandlad</td>
                            <td width="20">{{ model.latest.laserTreatment.label}}</td>
                        </tr>
                        <tr>
                            <td width="80">Senaste ögonbottenundersökning</td>
                            <td width="20">{{  model.latest.fundusExaminationDate.label }}</td>
                        </tr>
                        <tr>
                            <td width="80">Synnedsättning p.g.a. diabetes</td>
                            <td width="20">{{ model.latest.visualLoss.label  }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-md-4">
                <div class="Panel Panel--green">
                    <h4 class="Profile-heading">Njurar</h4>  <i class="Profile-latest-value fa fa-noun_17376_cc" class="" style="font-size: 40px;"></i>
                    <table class="table table-condensed">
                        <tr>
                            <td>Senaste S-Kreatininvärde</td>
                            <td>{{ model.latest.creatinine.label }}</td>
                        </tr>
                        <tr>
                            <td>Makroalbuminuri</td>
                            <td>{{ model.latest.macroscopicProteinuria.label }}</td>
                        </tr>
                        <tr ng-hide="model.latest.macroscopicProteinuria.label == 'Ja'">
                            <td>Mikroalbuminuri</td><td>{{ model.latest.microscopicProteinuria.label }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div ng-show="model.mode == 'table'" class="Panel">
        <h2>Besök</h2>
        <div class="table-responsive">
            <table style="font-size: 13px" class="Table--fixed table table-striped table-bordered row-border hover visits-table">
                <thead>
                    <tr>
                        <th class="key"></th>
                        <th ng-repeat="date in model.data.tableHeader.values">{{ date | date : 'dd MMM yyyy'}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in model.data.table | orderBy: 'sequence'">
                        <td class="key">{{ contact.label }}</td>
                        <td ng-repeat="value in contact.values track by $index">{{ value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
