<div class="row">
    <div class="col-md-12">
        <h1 class="Page-title">Söklista</h1>
        <p>
            Välj besöksperiod och andra sökkriterier. En patient visas i tabellen om ...
        </p>

        <div class="MultiFilter">

            <div class="MultiFilter-row MultiFilter-row--header">
                <div class="MultiFilter-row-label">
                    Antal matchande patienter:
                </div>
                <div class="MultiFilter-row-filterKnobs">
                    <div class="col-sm-7 u-noLeftPadding Progressbar">
                        <progressbar value="( model.filteredSubjectsLength * 100 ) / model.allSubjectsLength" max="100"></progressbar>
                    </div>

                    <div class="col-sm-2 u-noLeftPadding">{{ model.filteredSubjectsLength + " av " + model.allSubjectsLength }}</div>


                </div>
            </div>

            <div class="MultiFilter-row">
                <div class="MultiFilter-row-label">
                    Besöksperiod
                </div>
                <div class="MultiFilter-row-filterKnobs">
                    <div class="FilterDatePopup">
                        <div class="input-group FilterDatePopup-group FilterDatePopup-group--80">
                          <span class="input-group-addon">
                            <button type="button" class="FilterDatePopup-button" ng-click="open($event, 'from')"><i class="fa fa-calendar"></i></button>
                          </span>
                            <input type="text" class="FilterDatePopup-input form-control" datepicker-popup="{{format}}" ng-model="datePickers.from.date" is-open="datePickers.from.opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

                          <span class="input-group-addon">
                            <button type="button" class="FilterDatePopup-button" ng-click="open($event, 'to')"><i class="fa fa-calendar"></i></button>
                          </span>

                             <input type="text" class="FilterDatePopup-input form-control" datepicker-popup="{{format}}" ng-model="datePickers.to.date" is-open="datePickers.to.opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="MultiFilter-row">
                <div class="MultiFilter-row-label">
                    Diabetestyp
                </div>
                <div class="MultiFilter-row-filterKnobs">
                    <select ng-options="type.id as type.text for type in activeFilters.diabetesTypes" name="" class="form-control" ng-model="selectedFilters.diabetesTypes" id="" style="width:50%">
                       <!-- <option value="{{ item.id }}" ng-repeat="item in activeFilters.diabetesTypes.options">
                            {{ item.text }}
                        </option>-->
                    </select>
                </div>
            </div>

            <div class="MultiFilter-row">
                <div class="MultiFilter-row-label">
                    HbA1c
                </div>
                <div class="MultiFilter-row-filterKnobs">

                    <!--<rzslider
                            rz-slider-floor="0"
                            rz-slider-ceil="200"
                            rz-slider-model="selectedFilters.min"
                            rz-slider-high="selectedFilters.max"></rzslider>-->

                    <input class="form-control" style="float:left; width:20%" type="number" placeholder="min" ng-model="selectedFilters.hbMin" />
                    <input class="form-control" style="float:left; width:20%" type="number" placeholder="max" ng-model="selectedFilters.hbMax" />

                </div>
            </div>

            <div class="MultiFilter-row">
                <div class="MultiFilter-row-label">
                    Valbar
                </div>
                <div class="MultiFilter-row-filterKnobs">
                    <select name="" id="" class="form-control" style="width: 50%">
                        <option value="">Välj filter</option>
                    </select>
                </div>
            </div>

            <div class="MultiFilter-row">
                <div class="MultiFilter-row-label">
                    Debug
                </div>
                <div class="MultiFilter-row-filterKnobs">
                    {{ selectedFilters }}
                </div>
            </div>



        </div>


        <table datatable="ng" dt-options="dtOptions"  dt-column-defs="dtColumnDefs" class="table table-striped table-bordered row-border hover">
            <thead style="font-weight: 700">
            <tr>
                <td>Personnummer</td>
                <td>Senaste besök</td>
                <td>Blodtryck</td>
                <td>HbA1c</td>
                <td>Val</td>
            </tr>
            </thead>
            <tbody>

                <tr ng-repeat="subject in model.filteredSubjects">
                    <td>{{ subject.aggregatedProfile.subject.socialNumber }}</td>
                    <td>{{ subject.aggregatedProfile.lastUpdatedAt | date:'yyyy-MM-dd' }} </td>
                    <td>{{ subject.aggregatedProfile.bpDiastolic }}</td>
                    <td>{{ subject.aggregatedProfile.hba1c }}</td>

                    <td><a href="#/inloggad/patient/{{ subject.socialNumber }}" class="Button Button--info">Visa</a></td>
                </tr>
            </tbody>
        </table>



         <pre>

<!--
            {{  model  | json  }}
-->


            {{  activeFilters  | json  }}


            {{  model.filteredSubjects  | json  }}
        </pre>

    </div>
</div>


