<div class="container">

    <h1 class="Page-title">För dig med diabetes</h1>

    <div class="row">
        <div class="col-md-8">

            <div class="Panel">
                <h2 class="Heading--h2 u-noTopMargin">Du bidrar till en bättre vård</h2>
                <img src="images/img_patient.png" class="pull-right" style="margin: 0px 0 40px 30px" alt=""/>

                <p class=""> Kvalitetsregister bidrar till ny kunskap om bl.a. bästa behandlingsalternativ. I kvalitetsregistren samlas uppgifter om behandling och resultat för olika patientgrupper från hela landet. De kan därför användas för att jämföra vården mellan sjukhus, vårdcentraler.
                    <br/>
                    Genom ditt deltagande blir resultaten säkrare!
                </p>
                <h3>Du skyddas av sekretess</h3>
                <p>Dina uppgifter i kvalitetsregistret är sekretessskyddade och behandlas på samma sätt som journaluppgifter. Uppgifterna tas bort när de inte längre behövs.</p>
                <h3>Dina rättigheter som patient</h3>
                <p>Som patient har du rätt att få veta till vilka kategorier av mottagare som personuppgifterna kan komma att lämnas ut t.ex. att det kan bli aktuellt att uppgifterna lämnas ut för forskningsändamål. Du har också rätt att få veta om dina uppgifter är hämtade från någon annan källa än patientjournalen eller dig själv. Du kan även få dina uppgifter borttagna eller tacka nej till att bli registrerad.</p>
				<p><a href="" ng-show="!showMore" ng-click="showMore = !showMore">Läs mer</a></p>
				<div ng-show="showMore">
					<h3>Vilka uppgifter registreras och hur bearbetas de?</h3>
					<p>I registret finns data om din hälsa och om den vård som du fått vid din vårdenhet. De uppgifter som registreras är personnummer, vårdkontakt, diagnos, behandling, laboratorievärden och för personer över 18 år också information om upplevelser av att leva med diabetes samt vårdens kvalitet. För att få in uppgifter om hur det är att leva med diabetes och hur diabetesvården fungerar kan du bli tillfrågad om att fylla i en särskild enkät som belyser dessa frågor. </p>
					<h3>Så hanteras dina uppgifter</h3>
					<p>Uppgifterna får bara användas för att utveckla och säkra vårdens kvalitet samt framställa statistik för forskning inom hälso- och sjukvården. Dessa data bearbetas tillsammans med uppgifter från andra patienter och sammanställs på gruppnivå. Detta betyder att det inte går att identifiera enskilda individer i det sammanställda materialet. All sammanställning för forskningsändamål har föregåtts av godkännande från etikprövningsnämnd. Data kan också användas för samkörning med andra register för att kartlägga frågor om vårdens kvalitet och effekterna av given behandling. </p>
					<h3>Vilket skydd och vilka rättigheter har du?</h3>
					<p>Dina uppgifter skyddas av flera lagar. Detta betyder att uppgifterna har samma skydd som journaluppgifter och innebär att uppgifter om dig endast får lämnas ut från registret om det står klart att varken du eller någon närstående till dig lider men om uppgiften lämnas ut. Du har rätt att få information om vilka uppgifter som har lagrats om dig och hur uppgifterna har använts. Du har rätt att när som helst få uppgifterna korrigerade eller utplånade från registret. Du har också rätt att slippa bli registrerad i kvalitetsregistret. Din medverkan i NDR och Swediabkids påverkar inte din vård eller medicinska behandling. </p>
					<h3>Vem ansvarar för uppgifterna som finns om dig i NDR och Swediabkids?</h3>
					<p>För varje kvalitetsregister finns en centralt personuppgiftsansvarig myndighet, ofta ett landsting. För NDR har Regionstyrelsen i Västra Götalandsregionen detta ansvar. Vill du ha ytterligare information kan du vända dig till regionens jurist Erika Tensmo på telefon: 076-787 70 79.</p>
				</div>
            </div>


        </div>

        <div class="col-md-4">
            <div class="Panel Panel--purple">
                <h2 class="Heading--h3-sidebar u-noTopMargin">Diabetesvården där du bor</h2>
                <p>Knappa in ditt postnummer för att hitta statistik och annan information om diabetesvården där du bor:</p>

                <div class="PostalCodeSearch">
                    <input type="text" class="form-control PostalCodeSearch-input" ng-model="postalCode" placeholder="Ditt postnummer">
                    <p ng-if="(postalCode.length && !filteredUnits.length) || triedFuzzy" class="PostalCodeSearch-empty">
                        Det finns inga enheter i detta postnummer.
                        <span ng-if="fuzzySuccess && filteredUnits.length">Dessa enheter finns i närheten.</span>
                    </p>
                    <ul class="PostalCodeSearch-list" ng-show="filteredUnits.length">
                        <li ng-repeat="unit in filteredUnits" class="PostalCodeSearch-list-item clearfix" ng-class-odd="'PostalCodeSearch-list-item--odd'">
                            <a href="#/profil/enhet/{{ unit.unitID }}" class="PostalCodeSearch-list-item-title">{{ unit.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="Panel Panel--blue">
                <h2 class="Heading--h3-sidebar u-noTopMargin">Nya sätt att delta och förbättra diabetsvården</h2>
                <p >Genom patienenkäter (PROM) kan patientens upplevelse mätas för att utveckla vården.</p>
                <a href="#/prom" class="Button Button--default  Button--centered--60 Button--white Button--centered">Läs mer</a>
            </div>
			

            <!--<div class="Panel Panel--green">
				<h2 class="Heading--h3-sidebar u-noTopMargin">Informationsmaterial</h2>
				<ul class="documents" >
					<li><a download target="_blank" href="pdfs/patientinformation_folder_a4.pdf"><img src="images/icon_pdf.png" alt=""/>Folder med patientinformation om kvalitetsregister</a></li>
					<li><a download target="_blank" href="pdfs/patientinformation_lattlast_a4.pdf"><img src="images/icon_pdf.png" alt=""/>Lättläst patientinformation om kvalitetsregister</a></li>
                </ul>
                <a ui-sref="main.forms" class="Button Button--default  Button--white Button--centered">Blanketter och mer information</a>
            </div>-->

            <div class="Panel">
                <h2 class="Heading--h3-sidebar u-noTopMargin">Länkar</h2>

                <article class="">
                    <h4><a href="http://www.diabetes.se/" target="_blank">Diabetesförbundet</a></h4>
                    <p>En ideell och partipolitiskt obunden organisation för diabetiker och deras anhöriga. Fakta om diabetes, debattforum samt kontaktinformation.</p>
                </article>

                <article class="">
                    <h4><a href="http://cafegruppen.blogspot.se/" target="_blank">Cafégruppen i Göteborg</a></h4>
                    <p>Cafégruppen i Göteborg, en grupp vuxna och unga vuxna
                        med diabetes typ 1 som träffas en gång i månaden.</p>
                </article>

                <article class="">
                    <h4><a href="http://www.barndiabetesfonden.se/" target="_blank">Barndiabetesfonden</a></h4>
                    <p>Barndiabetesfonden stöder forskning vars syfte är att förebygga, bota eller lindra diabetes hos barn och ungdomar.</p>
                </article>

                <article class="">
                    <h4><a href="http://www.childrenwithdiabetes.com/" target="_blank">Children with diabetes</a></h4>
                    <p>The online community for kids, families and adults with diabetes.</p>
                </article>

                <article class="">
                    <h4><a href="http://www.diabit.se/" target="_blank">Diabit.se</a></h4>
                    <p>För unga med diabets typ 1, familjen, skolan och många andra. Dosräknare, forum, bloggar, filmer. Kolla tips och fakta, fråga vårdpersonal.</p>
                </article>
            </div>

        </div>

    </div>


</div>









