//== Panels

@panel-bg:                    #fff;
@panel-body-padding:          30px;
@panel-heading-padding:       10px 15px;
@panel-footer-padding:        @panel-heading-padding;
@panel-border-radius:         @border-radius-base;

//** Border color for elements within panels
@panel-inner-border:          #ddd;
@panel-footer-bg:             #f5f5f5;

@panel-default-text:          @gray-dark;
@panel-default-border:        #ddd;
@panel-default-heading-bg:    #f5f5f5;

@panel-primary-text:          #fff;
@panel-primary-border:        @brand-primary;
@panel-primary-heading-bg:    @brand-primary;

@panel-success-text:          @state-success-text;
@panel-success-border:        @state-success-border;
@panel-success-heading-bg:    @state-success-bg;

@panel-info-text:             @state-info-text;
@panel-info-border:           @state-info-border;
@panel-info-heading-bg:       @state-info-bg;

@panel-warning-text:          @state-warning-text;
@panel-warning-border:        @state-warning-border;
@panel-warning-heading-bg:    @state-warning-bg;

@panel-danger-text:           @state-danger-text;
@panel-danger-border:         @state-danger-border;
@panel-danger-heading-bg:     @state-danger-bg;

.Panel {
  margin-bottom: @line-height-computed;
  background-color: @ndr-white;
  border-radius: @panel-border-radius;
  padding: @panel-body-padding;
}

// Using h2, h3, h4 etc overrides styling where it shouldn't be overridden.
.Panel-title {
  margin: 0px 0 20px 0px;
}

.Panel--green {
  background-color: @ndr-green;
  color: @ndr-white;
}

.Panel--purple {
  background-color: @ndr-purple;
  color: @ndr-white;
}

.Panel--blue {
  background-color: @ndr-blue;
  color: @ndr-white;
}

