<div class="container">
    <h1 class="Page-title">Om Swediabkids - under uppdatering</h1>

    <div class="row">
        <div class="col-md-9 About">
            <div class="Panel">

                <h3 style="margin-top: 0px">Swediabkids mål är bättre diabetesvård</h3>
                <p>
                  Swediabkids är ett rikstäckande nationellt kvalitetsregister för barn och ungdomar med alla typer av diabetes. Registret startade år 2000 av barnläkarföreningens (BLF) delförening för endokrinologi och diabetes och från år 2007 är registret fullständigt, d.v.s. alla kliniker där barn och ungdomar med diabetes behandlas rapporterar data till Swediabkids och rapporteringsgraden är nästan 100 %.
                </p>
                <p>
                  Swediabkids ligger på samma databas som NDR, som är kvalitetsregistret för vuxna med diabetes och det är därför möjligt att följa kvalitetsdata från barndom till vuxen ålder. Registret är ett verktyg i det systematiska kvalitets- och förbättringsarbetet. Resultaten redovisas lättillgängligt och kontinuerligt på ett öppet och jämförbart sätt. Målsättningen är att data på alla barn med diabetes ska finns i registret och att Swediabkids ska underlätta lärande och kvalitetsförbättring, för att tillsammans med individen skapa bästa möjliga hälsa, vård och omsorg. Syftet är också att använda registret för forskning samt ledning och kunskapsstyrning i vården. Registret belyser hur väl de nationella riktlinjerna följs.
                </p>

                <!--<div class="row">
                    <div class="col-md-7">
                        <div class="quote" style="width: 100%;margin:10px; float:left;">
                            <i class="fa fa-quote-left fa-1x"></i> <span>NDR fyller den omistliga funktionen som instrument för uppföljning av behandlingsresultaten.</span>
                        </div>
                        <img style="margin-top: 20px" src="images/img_ndr_team.jpg" alt="NDR Team">
                    </div>

                    <div class="col-md-5">
                        <p>
                            NDR har blivit en nödvändig del av diabetesvården, inte minst sedan diabetesvården efter slutet av 1990-talet präglats av en allt bättre kunskap om olika riskfaktorers betydelse för diabeteskomplikationer och hjärt-kärlsjukdom, samt värdet av modern behandling av blodsocker, blodtryck och blodfetter med mera. NDR fyller alltså den omistliga funktionen som instrument för uppföljning av behandlingsresultaten.
                        </p>
                    </div>
                </div>-->

                <h3>Knappen</h3>
				<img style="float: right" width="200" src="images/knappen2.jpg"></img>
                <p>
                  Swediabkids visar resultaten öppet med hjälp av det interaktiva webbverktyget <a href="https://www.ndr.nu/#/knappen" target="_blank">Knappen</a>.  I Knappen får användaren möjlighet att snabbt och lätt göra egna sökningar och bland annat studera hur måluppfyllelsen för olika landsting eller vårdenheter har utvecklats genom åren och även göra jämförelser ända ner på vårdenhetsnivå. Tanken är att ge vårdgivare möjligheter att analysera resultat och ha dessa till grund för förbättringsarbete.
                </p>

                <h3>Inrapportering</h3>
                <p>
                  Registreringen kan ske elektroniskt via formulär på www.ndr.nu eller via direktöverföring från journal. Bägge sätten ger omedelbar tillgång till egna resultat och jämförande landstings- och nationell statistik. NDRs och Swediabkids användare loggar in med tjänstekort alternativ mobilt BankID. Det pågår nationella projekt för att ytterligare förenkla överföring från journal till kvalitetsregister.
                </p>

                <h3>Registrets variabler</h3>
                <p>
                  För att ta del av vilka uppgifter som registreras i Swediabkids, se aktuell <a href="/api/variable">variabelförteckning</a>.
                </p>

                <h3>Swediabkids organisation</h3>
                <p>
                  Ett nationellt kvalitetsregister styrs av en registerhållare och en styrgrupp som ska ha förankring i de yrkesgrupper det gäller. Swediabkids är ett delregister i Nationella Diabetesregistret (NDR) och styrs av Sektionen för endokrinologi och diabetes inom Svenska Barnläkarföreningen. Registret finansieras huvudsakligen genom anslag från staten och Sveriges Kommuner och Landsting (SKL). Swediabkids har ett nationellt uppdrag och finns på Registercentrum Västra Götaland som bland annat tillhandahåller resurser inom IT och statistik.
                </p>

                <h4>Styrgrupp</h4>
                <ul>
                  <li>Registerhållare Karin Åkesson, Barn- och ungdomsmedicinska kliniken, Länssjukhuset Ryhov</li>
                  <li>Elisabeth Eriksson, representant för Diabetesförbundets föräldraråd, Åtvidaberg, </li>
                  <li>Anna-Lena Fureman, Barn- och ungdomskliniken, Östersunds Sjukhus</li>
                  <li>Soffia Guðbjörnsdóttir, registerhållare NDR, Registercentrum Västra Götaland</li>
                  <li>Lena Hanberger, Barn- och ungdomssjukhuset, Universitetssjukhuset, Linköping </li>
                  <li>Auste Pundziute-Lyckå, Barn- och ungdomskliniken, Södra Älvsborgs Sjukhus</li>
                  <li>Ulf Samuelsson, Barn- och ungdomssjukhuset, Universitetssjukhuset, Linköping</li>
                  <li>Stefan Särnblad, Barnkliniken, Universitetssjukhuset, Örebro </li>
                  <li>Eva Örtqvist, Astrid Lindgrens Barnsjukhus, Stockholm</li>
                  <li>Ragnas Hanås, docent, överläkare, barn- och ungdomskliniken NU-sjukvården och NÄL</li>
        		</ul>

                <h4>Drift- och utvecklingsgrupp</h4>
                <ul>
                  <li>Karin Åkesson, registerhållare</li>
        					<li>Lena Hanberger, registerkoordinator</li>
        					<li>Pär Samuelsson och Ebba Linder, utvecklingsledare</li>
                </ul>
              </div>
            </div>


        <div class="col-md-3">


            <div class="Panel Panel--purple">

                <h3 style="margin-top: 10px">Swediabkids Helpdesk</h3>
                <div class="Person clearfix">
                    <div  class="Person-image u-noRightPadding u-noLeftPadding">
                        <img src="images/LenaHanberger.jpg">
                    </div>

                    <div>
                        <p class="Person-info-note" style="margin-top: 20px" >Kontakta Lena Hanberger, Registerkoordinator, vid frågor som rör användarkonton och övriga helpdeskärenden</p>
                        <p class="Person-info-email"><a href="mailto:lena.hanberger@regionostergotland.se" style="color:#FFF">lena.hanberger<wbr>@regionostergotland.se</a></p>
                        <p class="Person-info-phone">013-28 56 19</p>
                    </div>

                   <!-- <div class="Person-info col-md-7 u-noRightPadding">

                    </div>-->
                </div>

            </div>

            <div class="Person clearfix">
                <div  class="Person-image col-md-5 u-noRightPadding u-noLeftPadding">
                    <img src="images/ia.jpg">
                </div>
                <div class="Person-info col-md-7 u-noRightPadding">
                    <h4 class="Person-info-name">Ia Almskog</h4>
                    <p class="Person-info-title">Registerkoordinator</p>
                    <p class="Person-info-email"><a href="mailto:ia.almskog@registercentrum.se">ia.almskog<wbr>@registercentrum.se</a></p>
                    <p class="Person-info-phone">010-441 29 29</p>
                    <!--<p class="Person-info-note">Kontakta Ia vid frågor som rör användarkonton och övriga helpdeskärenden</p>-->
                </div>
            </div>

            <div class="Person clearfix">
                <div  class="Person-image col-md-5 u-noRightPadding u-noLeftPadding">
                    <img src="images/KarinAkesson.jpg" alt="Karin Åkesson">
                </div>
                <div class="Person-info col-md-7 u-noRightPadding">
                    <h4 class="Person-info-name">Karin Åkesson</h4>
                    <p class="Person-info-title">Registerhållare</p>
                    <p class="Person-info-email"><a href="mailto:karin.akesson@rjl.se">karin.akesson<wbr>@rjl.se</a></p>
                </div>
            </div>

            <div class="Person clearfix">
                <div  class="Person-image col-md-5 u-noRightPadding u-noLeftPadding">
                    <img src="images/par.jpg" alt="Pär Samuelsson">
                </div>
                <div class="Person-info col-md-7 u-noRightPadding">
                    <h4 class="Person-info-name">Pär Samuelsson</h4>
                    <p class="Person-info-title">Utvecklingsledare</p>
                    <p class="Person-info-email"><a href="mailto:par.samuelsson@registercentrum.se">par.samuelsson<wbr>@registercentrum.se</a></p>
                    <p class="Person-info-phone">010-441 29 25</p>
                    <p class="Person-info-note">Kontakta Pär vid frågor som rör allmänna frågor om Swediabkids och registrets förbättringsprojekt</p>
                </div>
            </div>

            <div class="Person clearfix">
                <div  class="Person-image col-md-5 u-noRightPadding u-noLeftPadding">
                    <img src="images/ebba.jpg" alt="Ebba Linder">
                </div>
                <div class="Person-info col-md-7 u-noRightPadding">
                    <h4 class="Person-info-name">Ebba Linder</h4>
                    <p class="Person-info-title">Utvecklingsledare</p>
                    <p class="Person-info-email"><a href="mailto:ebba.linder@registercentrum.se">ebba.linder<wbr>@registercentrum.se</a></p>
                    <p class="Person-info-phone">0722-50 61 44</p>
                    <p class="Person-info-note">Kontakta Ebba vid frågor som rör allmänna frågor om Swediabkids</p>
                </div>
            </div>

            <!--<div class="Person clearfix">
                <div  class="Person-image col-md-5 u-noRightPadding u-noLeftPadding">
                </div>
                <div class="Person-info col-md-7 u-noRightPadding">
                    <h4 class="Person-info-name">Henrik Milefors</h4>
                    <p class="Person-info-title">Systemadministratör</p>
                    <p class="Person-info-email"><a href="mailto:henrik.milefors@registercentrum.se">henrik.milefors<wbr>@registercentrum.se</a></p>
                    <p class="Person-info-phone">010-441 29 11</p>
                    <p class="Person-info-note">Kontakta Henrik vid frågor som rör dataöverföring och driftstörningar</p>
                </div>
            </div>-->

            <div class="Panel">
                <h3 class="Panel-title">Adress</h3>
                <p>Registercentrum Västra Götaland<br>413 45 Göteborg<br>010 – 441 29 29</p>
            </div>

            <!--<div class="Panel Panel--blue" ng-if="accountModel.activeAccount">

                <h3 class="Panel-title">Kontaktpersoner</h3>

				<ul class="documents" >
					<li><a download target="_blank" href="pdfs/NDR_KAS.pdf"><img src="images/icon_pdf.png" alt=""/>KAS-lista</a></li>
					<li ng-if="accountModel.activeAccount"><a download target="_blank" href="pdfs/NDR_Koordinatorer.pdf"><img src="images/icon_pdf.png" alt=""/>Koordinator-lista</a></li>
				</ul>

      </div>-->

        </div>
    </div>
</div>
