@import '../bower_components/selectize/dist/less/selectize.less';

@selectize-color-text: @ndr-dark;
@selectize-color-border: @ndr-blue;
@selectize-color-highlight: rgba(125,168,208,0.2);
@selectize-color-input: #fff;
@selectize-color-input-full: @selectize-color-input;
@selectize-color-disabled: #fafafa;
@selectize-color-item: @gray-lighter;
@selectize-color-item-text: @selectize-color-text;
@selectize-color-item-border: #d0d0d0;
@selectize-color-item-active: #e8e8e8;
@selectize-color-item-active-text: @selectize-color-text;
@selectize-color-item-active-border: #cacaca;
@selectize-color-dropdown: #fff;
@selectize-color-dropdown-border: @selectize-color-border;
@selectize-color-dropdown-border-top: #f0f0f0;
@selectize-color-dropdown-item-active: #f5fafd;
@selectize-color-dropdown-item-active-text: #495c68;
@selectize-color-dropdown-item-create-text: rgba(red(@selectize-color-text), green(@selectize-color-text), blue(@selectize-color-text), 0.5);
@selectize-color-dropdown-item-create-active-text: @selectize-color-dropdown-item-active-text;
@selectize-color-optgroup: @selectize-color-dropdown;
@selectize-color-optgroup-text: @selectize-color-text;

@selectize-width-item-border: 0;
@selectize-max-height-dropdown: 200px;

@selectize-padding-x: 10px;
@selectize-padding-y: 13px;
@selectize-padding-item-x: 6px;
@selectize-padding-item-y: 2px;
@selectize-padding-dropdown-item-x: @selectize-padding-x;
@selectize-padding-dropdown-item-y: 5px;
@selectize-margin-item-x: 3px;
@selectize-margin-item-y: 3px;

@selectize-arrow-size: 5px;
@selectize-arrow-color: #808080;
@selectize-arrow-offset: 5px;


.selectize-control.single .selectize-input:after {
  content: '';
  display: none;
}

.Autocomplete {
  z-index: 999;

  .selectize-input {
    border-radius: 2px;

    .item {
      padding: 5px 20px 5px 5px;
      display: inline-block;
      width: auto;
      position: relative;

      &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #000 transparent transparent transparent;
      }
    }

    &.focus.not-full .item:after {
      display: none;
    }
  }
}


.Autocomplete.Autocomplete--bare {

  .selectize-input {
    border: none !important;
    background-color: transparent;
    box-shadow: none !important;

    &.dropdown-active {
      background-color: #fff;
    }
  }

  .selectize-input:after{
    border-width : 8px 8px 0 8px !important;
  }

  .selectize-dropdown {
    border: none;
  }
}

.Autocomplete.Autocomplete--white {
  .selectize-input {
    background-color: #fff;
    border-color: #ddd;

    &:before{
      content: "\f002";
      font-family: icomoon;
      font-size: 21px;
      color: @ndr-blue;
      margin-right: 10px;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
    }

    &.input-active:before{
      content : ""
    }

  }

  .selectize-dropdown {
    border-color: #ddd;

    .option.selected {
      background-color: #fafafa;
      color: #666;
    }

    .option:hover,
    .option.selected:hover {
      background-color: #fafafa;
      color: #333;
    }
  }
}

.Autocomplete.Autocomplete--large {

  .selectize-input {
    padding-top: 8px;
    padding-bottom: 8px;

    input {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }

    .item {
      font-size: 36px;
      font-weight: 300;
      padding: 10px 30px 10px 5px;

    }
  }

  .selectize-dropdown {

    [data-selectable] {
      padding: 8px;
    }

    .optgroup .option {
      padding-left: 20px;
    }

  }

}


.Autocomplete.Autocomplete--searchIcon.Autocomplete--large {
  .selectize-input .item {
    font-size: 16px;
  }
}
