<div class="Panel">
  <div class="Survey">
    <h2 class="mt0">Diabetesenkäten</h2>

    <tabset justified class="nav-tabs-secondary nav-tabs-negative-30">
      <tab heading="Administrera enkäter">
        <p class="pv5-ns pv4">Det finns {{ model.invites.new.length }} besvarade enkäter att signera.</p>

        <h5 class="bb b--light-gray pv1 mb4 gray">Filtering</h5>
        <div class="row pb4">
          <div class="col-sm-2">Personnummer</div>
          <div class="col-sm-10">
            <input
              placeholder="19ÅÅMMDDXXXX"
              type="text"
              ng-model="model.socialNumberFilter"
              ng-change="setDisplayed('socialnumber')"
            />
          </div>
        </div>
        <div class="row pb4">
          <div class="col-sm-2">Visa</div>
          <div class="col-sm-10">
            <button
              ng-click="setDisplayed('all')"
              class="Button Button--default"
              ng-class="{'Button--info': model.filterType !== 'new' && model.filterType !== 'declined'}">
              Alla ({{ model.invites.all.length }})
            </button>
            <button
              ng-click="setDisplayed('new')"
              class="Button Button--default"
              ng-class="{'Button--info': model.filterType === 'new'}">
              Osignerade ({{ model.invites.new.length }})
            </button>
            <button
              ng-click="setDisplayed('declined')"
              class="Button Button--default"
              ng-class="{'Button--info': model.filterType === 'declined'}">
              Avböjt enkät ({{ model.invites.declined.length }})
            </button>
          </div>
        </div>

        <h5 class="bb b--light-gray pv1 mv4 gray">Resultat</h5>
        <table class="Table borderless" style="">
          <thead>
            <tr>
              <th class="tc pointer pb3" ng-click="model.sortType = 'subject.socialNumber'; model.sortReverse = !model.sortReverse">
                Personnummer
                <i ng-show="model.sortType == 'subject.socialNumber' && !model.sortReverse" class="fa fa-caret-down"></i>
                <i ng-show="model.sortType == 'subject.socialNumber' && model.sortReverse" class="fa fa-caret-up"></i>
              </th>
              <th class="tc pointer pb3" ng-click="model.sortType = 'createdAt'; model.sortReverse = !model.sortReverse">
                Skickad
                <i ng-show="model.sortType == 'createdAt' && !model.sortReverse" class="fa fa-caret-down"></i>
                <i ng-show="model.sortType == 'createdAt' && model.sortReverse" class="fa fa-caret-up"></i>
              </th>
              <th class="tc pointer pb3" ng-click="model.sortType = 'status'; model.sortReverse = !model.sortReverse">
                Enkätstatus
                <i ng-show="model.sortType == 'status' && !model.sortReverse" class="fa fa-caret-down"></i>
                <i ng-show="model.sortType == 'status' && model.sortReverse" class="fa fa-caret-up"></i>
              </th>
              <!--<th class="tc pointer pb3" ng-click="model.sortType = 'submittedAt'; model.sortReverse = !model.sortReverse">-->
                <!--Besvarad-->
                <!--<i ng-show="model.sortType == 'submittedAt' && !model.sortReverse" class="fa fa-caret-down"></i>-->
                <!--<i ng-show="model.sortType == 'submittedAt' && model.sortReverse" class="fa fa-caret-up"></i>-->
              <!--</th>-->
              <!--<th class="tc pointer pb3" ng-click="model.sortType = 'isApprovedNDR'; model.sortReverse = !model.sortReverse">-->
                <!--Signerad-->
                <!--<i ng-show="model.sortType == 'isApprovedNDR' && !model.sortReverse" class="fa fa-caret-down"></i>-->
                <!--<i ng-show="model.sortType == 'isApprovedNDR' && model.sortReverse" class="fa fa-caret-up"></i>-->
              <!--</th>-->
              <th class="tc pointer pb3" ng-click="model.sortType = 'tag'; model.sortReverse = !model.sortReverse">
                Etikett
                <i ng-show="model.sortType == 'tag' && !model.sortReverse" class="fa fa-caret-down"></i>
                <i ng-show="model.sortType == 'tag' && model.sortReverse" class="fa fa-caret-up"></i>
              </th>
              <th class="tc pb3">&nbsp;</th>
            </tr>
          </thead>

          <div ng-show="model.loading == false && model.invites.displayed.length == 0">
            <p class="tc pv5 f1 red">Inga matchande patienter hittades</p>
          </div>

          <div ng-show="model.loading == true">
            <p class="tc pv5 f2 ndr-blue"><img src="images/ajax-loader.gif" alt=""> LADDAR</p>
          </div>


          <tbody>
            <tr ng-repeat="invite in model.invites.displayed | orderBy:model.sortType:model.sortReverse" class="tc" style="font-weight: 600">
              <td>
                <a
                  ui-sref="main.account.patient({patientID: invite.subject.subjectID, backToSurveysVisible:'yes'})"
                >
                  {{ invite.subject.socialNumber }}
                </a>
              </td>
              <td>{{ invite.createdAt | date:'yyyy-MM-dd' }}</td>
              <td style="text-transform: uppercase; font-size: 13px">

                <!--{{ invite.initiatedAt + "|" + invite.status }}-->

                <div class="FilterDatePopup" ng-show="invite.status == 'isOpen' || invite.status == 'isInitiated'">
                  <div class="input-group FilterDatePopup-group FilterDatePopup-group--fixed">

                    <input
                      type="text"
                      class="form-control"
                      datepicker-popup="{{ model.datePicker.format }}"
                      ng-change="openUntilEdited(invite)"
                      ng-model="invite.openUntil"
                      is-open="invite.datePicker.opened"
                      min-date="invite.datePicker.minDate"
                      datepicker-options="model.datePicker.dateOptions"
                      ng-required="true"
                      close-text="Close"
                    />

                    <span class="input-group-addon">
                      <button
                              type="button"
                              class="FilterDatePopup-button"
                              ng-click="openDatePickerEdit($event, invite)"
                      >
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>

                  </div>
                </div>


                <div class="FilterDatePopup" ng-show="invite.status == 'isExpired'">

                  <div class="input-group FilterDatePopup-group FilterDatePopup-group--fixed">

                    <input
                            type="text"
                            class="form-control"
                            datepicker-popup="{{ 'yyyy-MM-dd' }}"
                            ng-change="openUntilEdited(invite)"
                            ng-model="invite.openUntil"
                            is-open="invite.datePicker.opened"
                            min-date="invite.datePicker.minDate"
                            datepicker-options="model.datePicker.dateOptions"
                            ng-required="true"
                            close-text="Close"
                    />

                    <span class="input-group-addon">
                      <button
                              type="button"
                              class="FilterDatePopup-button"
                              ng-click="openDatePickerEdit($event, invite)"
                      >
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>

                  </div>
                </div>


                <div ng-if="invite.isDeclined" class="red">Avböjd</div>
                <div class="orange" ng-if="invite.submittedAt && !invite.isApprovedNDR">Besvarad, ej signerad</div>
                <div class="green" ng-if="invite.submittedAt && invite.isApprovedNDR">Signerad</div>

              </td>
              <!--<td class="ttu">-->
                <!--<span ng-if="!invite.submittedAt && !invite.isDeclined">ej besvarad</span>-->
                <!--<span ng-if="invite.isDeclined" class="red">avböjt</span>-->
                <!--<span ng-if="invite.submittedAt">{{ invite.submittedAt | date:'yyyy-MM-dd' }}</span>-->
              <!--</td>-->
              <!--<td class="ttu">-->
                <!--<span class="red" ng-if="!invite.isApprovedNDR">nej</span>-->
                <!--<span ng-if="invite.isApprovedNDR">ja</span>-->
              <!--</td>-->
              <td><span class="underline cursor" title="{{ invite.tag }}">{{ invite.tag | limitTo:15 }}</span></td>
              <td class="tl">
                <button style="font-weight: 600"
                  ng-click="showInviteModal(invite)"
                  ng-hide="invite.submittedAt || invite.isDeclined"
                  class="Button Button--info Button--mini Button--fixed-width">
                  Inbjudan
                </button>
                <button style="font-weight: 600"
                  ng-click="showAnswersModal(invite)"
                  ng-if="invite.submittedAt && invite.isApprovedNDR"
                  class="Button Button--info Button--mini Button--fixed-width">
                  Enkätsvar
                </button>
                <button style="font-weight: 600"
                  ng-click="showAnswersModal(invite)"
                  ng-if="!invite.isApprovedNDR"
                  ng-hide="!invite.submittedAt"
                  class="Button Button--warning Button--mini Button--fixed-width">
                  Signera
                </button>
                <button
                    ng-click="showDeleteModal(invite)"
                    ng-hide="invite.submittedAt || invite.isDeclined || invite.status == 'isInitiated'"
                    class="Button Button--grey Button--mini">
                    <i class="fa fa-trash"></i>
                </button>
                <button
                        tooltip="{{ 'Påbörjad ' + invite.initiatedAt.substr(0, 10) }}"

                        ng-show="invite.status == 'isInitiated'"
                        class="Button Button--grey Button--mini">
                  <i class="fa fa-info" ></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </tab>

      <tab heading="Ny enkät">
        <div class="row">
          <h4 class="col-md-12 b mt4-ns">Ny enkätinbjudan</h4>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label class="normal f4">Personnummer</label>
            <input
              placeholder="19ÅÅMMDDXXXX"
              type="text"
              class="db w-100 pa2"
              ng-model="model.newInvite.socialnumber"
              ng-change="fetchSubject()"
            />
          </div>
          <div class="col-md-3">
            <label class="normal f4">Enkäten är öppen till</label>
            <div class="FilterDatePopup">
              <div class="input-group FilterDatePopup-group">
                <span class="input-group-addon">
                  <button
                    type="button"
                    class="FilterDatePopup-button"
                    ng-click="openDatePicker($event, 'from')"
                  >
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
                <input
                  type="text"
                  class="form-control"
                  datepicker-popup="{{ model.datePickerNew.format}}"
                  ng-model="model.newInvite.openUntil"
                  is-open="model.datePicker.opened"
                  min-date="model.datePicker.minDate"
                  datepicker-options="model.datePicker.dateOptions"
                  ng-required="true"
                  close-text="Close"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label class="normal f4">Etikett (valfri)</label>
            <input
              placeholder=""
              type="text"
              class="db w-100 pa2"
              ng-model="model.newInvite.tag"
            />
          </div>
          <div class="col-md-3">

            <label class="normal f4">Diabetestyp (hämtas automatiskt)</label>

            <input
              disabled="disabled"
              type="text"
              class="form-control db w-100 pa2 disabled"
              value="model.newInvite.currentDiabetesType"
              ng-model="model.newInvite.currentDiabetesType"
            />

            <div ng-show="model.newInviteDiabetesMissing">
              <span class="red small">För att skapa en enkät behöver patientens Diabetestyp anges som Typ 1 eller Typ 2.</span>
              <select
                      class="form-control db w-100 pa2 mt2"
                      ng-model="model.newInvite.selectedDiabetesTypeCode"
              >
                <option value="">Välj diabetestyp</option>
                <option value="1">Typ 1 diabetes</option>
                <option value="2">Typ 2 diabetes</option>
              </select>
            </div>

          </div>
        </div>
        <div class="row pt2 pt4-ns">
          <div class="col-md-3">
            <button
              ng-click="createInvite()"
              ng-disabled="!model.newInvite.subjectID || !model.newInvite.openUntil"
              class="Button Button--info w-100">
              Skapa
            </button>
          </div>
          <div class="col-md-9 pt3">
            <p ng-if="model.newInviteError" class="red">
              {{ model.newInviteError }}
            </p>
            <!--<p ng-if="model.newInviteDiabetesMissing">

              <span class="red">Diabetestyp saknas.</span> Du behöver lägga till Diabetestyp i
              <a ui-sref="main.account.patient({patientID: model.newInvite.subjectID})">
                patientens profil
              </a> innan du kan fortsätta.
            </p>-->
          </div>
        </div>
        <div class="row" ng-if="model.createdInvites.length">
          <div class="col-md-12 f2 pt4">

            <h4>Du har skapat nya enkäter för:</h4>
            <hr />

            <table class="table table-striped">

              <thead>
              <tr><td>Personnummer</td><td></td><td></td></tr>
              </thead>

              <tbody>
              <tr class="" ng-repeat="invite in model.createdInvites">
              <td><b>{{ invite.subject.socialNumber }}</b></td>
                <td>  <a
                        href
                        ng-click="showInviteModal(invite)"
                        class="w4 mr2">
                  Visa inbjudan
                </a></td>
                <td>
                  <a
                          href
                          ng-click="goToPrintView(invite)">
                    Skriv ut inbjudan
                  </a>
                </td>


              </tr>
              </tbody>

            </table>


          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<script type="text/ng-template" id="inviteModalTmpl">
  <div class="modal-body">
    <a
      ng-click="$dismiss('cancel')"
      class="absolute top-0 right-0 mt3 mr3 link black pointer no-underline fa fa-close"
      style="text-decoration: none;"
    ></a>
    <div class="">
      <p class="f2 b">
        <button ng-click="printThis()" class="Button  pointer hidden-print">Skriv ut inbjudan</button>
      </p>

    </div>

    <h3 class="mb5">Inbjudan från {{ model.selectedInvite.unit.name }}</h3>
    <hr class="bw4" ng-style="{ 'border-color' : '#74BAD8' }" />
    <p class="b">{{ model.selectedInvite.subject.socialNumber }}</p>


    <div class="mw8">
      <p class="f2 mb5">
        Din diabetesmottagning önskar att du besvarar diabetesenkäten inför ditt nästa besök.
        <br />
        Du hittar enkäten på www.ndr.nu och du kan logga in med Mobilt BankID eller med detta engångslösenord: <span class="dib f2 pa2 mb5 ba">{{ model.selectedInvite.key }}</span>
      </p>

      <p>
        Loggar du in med Mobilt BankId får du tillgång till din diabetesprofil som förutom enkätsvar också visar dina laboratorievärden och resultaten från olika undersökningar som du gjort.
      </p>

      <p>
        Loggar du in med hjälp av engångslösenordet får du möjlighet att besvara enkäten men av säkerhetsskäl kan du inte se din diabetesprofil. Engångslösenordet gäller i 24 timmar från det att du loggar in.
      </p>

      <p>
        Har du frågor om diabetesenkäten så finns information på www.ndr.nu men du kan också fråga din läkare eller diabetessjuksköterska.
      </p>
    </div>


  </div>
</script>

<script type="text/ng-template" id="answersModalTmpl">
  <div ng-show="model.selectedInvite.signed" class="modal-body text-center">
    <a
      ng-click="$dismiss('cancel')"
      class="absolute top-0 right-0 mt3 mr3 link black pointer no-underline fa fa-close"
      style="text-decoration: none;"
    ></a>
    <p class="cf f2 tl bb bw1 pb2 mb5">
       <b>{{ model.selectedInvite.subject.socialNumber }}</b> &gt; Enkätsvar {{ model.selectedInvite.submittedAt | date:'yyyy-MM-dd' }}
    </p>

    <h3 class="mb5 gray">
      <i class="fa fa-check blue"></i>
      Du har signerat enkätsvar {{ model.selectedInvite.submittedAt | date:'yyyy-MM-dd' }}<br />
      för {{ model.selectedInvite.subject.socialNumber }}
    </h3>

    <button
      ng-click="model.selectedInvite.signed = false"
      class="Button Button--info mt2 mt4-ns">
      Tillbaka
    </button>

    <button
      ng-click="goToSubjectProfile(model.selectedInvite.subject)"
      class="Button Button--info mt2 mt4-ns">
      Se diabetesprofil
    </button>
  </div>

  <div ng-show="!model.selectedInvite.signed" class="modal-body text-center">
    <a
          ng-click="$dismiss('cancel')"
          class="absolute top-0 right-0 mt3 mr3 link black pointer no-underline fa fa-close"
          style="text-decoration: none;"
    ></a>

    <p class="cf f2 tl bb bw1 pb2 mb5">
      <b>{{ model.selectedInvite.subject.socialNumber }}</b> &gt; Enkätsvar {{ model.selectedInvite.submittedAt | date:'yyyy-MM-dd' }}
      <button ng-click="printThis()" class="Button Button--grey Button--mini hidden-print"><i class="fa fa-print"></i></button>
    </p>

    <h4 class="mb1 orange" ng-show="!model.selectedInvite.isApprovedNDR">Den här patienten har en enkät som inte är överförd till NDR</h4>

    <!--<tabset>-->
      <!--<tab heading="Diagram" style="font-size:12px">-->


      <div style="margin-top: 5px" bar-chart model="model.selectedInviteData"></div>
        <div>
          * uppgiften i parentes visar skillnaden mellan den aktuella och föregående enkäten
        </div>

        <!--<div class="cf b mt4 pb2 tl tc-ns bb b&#45;&#45;gray">-->
          <!--<div class="fl-ns pa2 w-40-ns tr-ns">Dimension</div>-->
          <!--<div class="fl-ns pa2 w-40-ns">Värde</div>-->
          <!--<div class="fl-ns pa2 w-20-ns">-->
            <!--Förändring-->
            <!--<span ng-show="model.selectedInvite.prevOutcomes">-->
              <!--(sedan {{ model.selectedInvite.prevOutcomes.submittedAt  | date:'yyyy-MM-dd' }})-->
            <!--</span>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div ng-repeat="outcome in model.selectedInvite.outcomes" class="cf">-->
          <!--<div class="fl-ns pa2 w-40-ns tl tr-ns">{{ outcome.dimension.desc }}</div>-->
          <!--<div class="fl-ns pv2 w-40-ns tl relative br bl b&#45;&#45;light-gray" style="padding-left: 1px; padding-right: 1px;">-->
            <!--<span class="dib bg-blue" style="height: 20px; width: {{ outcome.outcome }}%"></span>-->
            <!--<span class="absolute ml1" style="top: 2px; left: {{ outcome.outcome }}%">-->
              <!--{{ outcome.outcome | number: 0 }}-->
            <!--</span>-->
          <!--</div>-->
          <!--<div-->
            <!--class="fl-ns pa2 w-20-ns tl tc-ns"-->
            <!--ng-class="{red: model.selectedInvite.prevOutcomes.outcomes[$index].difference < 0}"-->
          <!--&gt;-->
            <!--{{ model.selectedInvite.prevOutcomes.outcomes[$index].difference || "saknas" }}-->
          <!--</div>-->
        <!--</div>-->
      <!--</tab>-->
      <!--<tab heading="Journalvänlig text" select="selectCopyView()">-->

      <!--</tab>-->
    <!--</tabset>-->

    <button
      ng-show="!model.selectedInvite.isApprovedNDR"
      ng-click="signInvite(model.selectedInvite)"
      class="Button Button--info mt2 mt4-ns">
      Signera (förs över till NDR)
    </button>


    <button ng-click="showCopyFriendly = !showCopyFriendly" class="Button Button--info mt2 mt4-ns">Visa som journalvänlig text</button>
    <div ng-show="showCopyFriendly">

      <p class="mt4">Tryck Ctrl + C eller högerklicka på texten och välj "Kopiera"</p>
      <textarea onclick="this.focus();this.select()" readonly="readonly"
                class="db w-100 pa2 h5"
                style="height: 250px;"
                id="copy-view"
      >{{ model.selectedInvite.copyText }}</textarea>

    </div>

  </div>
</script>

<script type="text/ng-template" id="deleteModalTmpl">
  <div class="modal-body text-center">
    <a
      ng-click="$dismiss('cancel')"
      class="absolute top-0 right-0 mt3 mr3 link black pointer no-underline fa fa-close"
      style="text-decoration: none;"
    ></a>
    <h3 class="mb5">
      Bekräfta att du vill ta bort inbjudan för {{ model.selectedInvite.subject.socialNumber }}
    </h3>
    <div class="tc mw8 center">
    <button
      ng-click="deleteInvite(model.selectedInvite.inviteID)"
      class="Button Button--danger mt2 mt4-ns mr4-ns">
      Ja, ta bort inbjudan
    </button>
    <button
      ng-click="$close()"
      class="Button Button--info mt2 mt4-ns">
      Nej, avbryt
    </button>
    </div>
  </div>
</script>
