<div class="Panel">
  <div class="row Survey">
    <h2 class="col-md-12 Page-title">Diabetsenkäten</h2>

    <tabset justified>
      <tab heading="Administrera enkäter">
        <p class="pv5-ns pv4">Det finns {{ model.prominvites.new.length }} besvarade enkäter att signera</p>

        <h5 class="bb b--light-gray pv1 mb4 gray">Filtering</h5>
        <div class="row pb4">
          <div class="col-sm-2">Personnummer</div>
          <div class="col-sm-10">
            <input
              placeholder="19ÅÅMMDDXXXX"
              type="text"
              ng-model="model.socialNumberFilter"
              ng-change="setDisplayed('socialnumber')"
            />
          </div>
        </div>
        <div class="row pb4">
          <div class="col-sm-2">Visa</div>
          <div class="col-sm-10">
            <button
              ng-click="setDisplayed('all')"
              class="Button Button--default"
              ng-class="{'Button--info': model.filterType !== 'new' && model.filterType !== 'declined'}">
              Alla ({{ model.prominvites.all.length }})
            </button>
            <button
              ng-click="setDisplayed('new')"
              class="Button Button--default"
              ng-class="{'Button--info': model.filterType === 'new'}">
              Nya ({{ model.prominvites.new.length }})
            </button>
            <button
              ng-click="setDisplayed('declined')"
              class="Button Button--default"
              ng-class="{'Button--info': model.filterType === 'declined'}">
              Avbört enkät ({{ model.prominvites.declined.length }})
            </button>
          </div>
        </div>

        <h5 class="bb b--light-gray pv1 mv4 gray">Resultat</h5>
        <table class="Table borderless" style="">
          <thead>
            <tr>
              <th class="tc">Personnummer</th>
              <th class="tc">Skickad</th>
              <th class="tc">Öppen till</th>
              <th class="tc">Besvarad</th>
              <th class="tc">Signerad</th>
              <th class="tc">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="invite in model.prominvites.displayed" class="tc">
              <td>{{ invite.subject.socialNumber }}</td>
              <td>{{ invite.createdAt | date:'yyyy-MM-dd' }}</td>
              <td>{{ invite.openUntil | date:'yyyy-MM-dd' }}</td>
              <td class="ttu">
                <span ng-if="!invite.submittedAt && !invite.declined">ej besvarad</span>
                <span ng-if="invite.submittedAt">{{ invite.submittedAt | date:'yyyy-MM-dd' }}</span>
              </td>
              <td class="ttu">
                <span class="red" ng-if="!invite.approvedNDR">nej</span>
                <span ng-if="invite.approvedNDR">ja</span>
              </td>
              <td class="tl">
                <button
                  ng-click="showInviteModal(invite)"
                  ng-disabled="invite.submittedAt"
                  class="Button Button--info Button--mini">
                  Ibjudan
                </button>
                <button
                  ng-click="showAnswersModal(invite)"
                  ng-if="invite.submittedAt && invite.approvedNDR"
                  class="Button Button--info Button--mini">
                  Enkätsvar
                </button>
                <button
                  ng-click="showAnswersModal(invite)"
                  ng-if="!invite.approvedNDR"
                  ng-disabled="!invite.submittedAt"
                  class="Button Button--warning Button--mini">
                  Signera
                </button>
                <button
                  ng-click="deleteInvite(invite.inviteID)"
                  ng-disabled="invite.submittedAt"
                  class="Button Button--info Button--mini">
                  Ta bort
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Ny enkät">
        <h4>Ny enkätinbjudan</h4>
        <div class="col-md-3">
          <label>Personnummer</label>
          <input
            placeholder="19ÅÅMMDDXXXX"
            type="text"
            class="db w-100"
            ng-model="model.socialnumbers[0]"
            ng-change="fetchSubject(0)"
          />
        </div>
      </tab>
    </tabset>
  </div>
</div>

<script type="text/ng-template" id="inviteModalTmpl">
  <div class="modal-body text-center">
    <div class="cf bb bw5 pb2 mb5">
      <p class="fl f2 b">{{ model.selectedInvite.unit.name }}</p>
      <p class="fr b">{{ model.selectedInvite.subject.socialNumber }}</p>
    </div>


    <h3 class="mb5">Inbjudan att besvara Diabetesenkäten</h3>
    <div class="tc mw8 center">
      <p class="f2 mb5">
        Din diabetesmottagning önskar att du besvarar diabetesenkäten
        inför ditt nästa besök.
      </p>
      <p class="f2 mb5">
        Du hittar enkäten på www.ndr.nu och du kan logga in med Mobilt BankID
        eller med detta engångslösenord:
      </p>
      <p class="dib f2 pa4 mb5 ba">{{ model.selectedInvite.key }}</p>
      <p>
        Engångslösenordet gäller i 24 timmar från det att du loggar in.
        OBS! Engångslösenordet ger dig möjlighet att besvara enkäten men
        av säkerhetsskäl kan du inte se din diabetesprofil. För att få tillgång
        till den behöver du logga in med Mobilt BankID.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="answersModalTmpl">
  <div class="modal-body text-center">
    <p class="cf f2 tl bb bw1 pb2 mb5">
      Diabetesnkäten &gt; <b>{{ model.selectedInvite.subject.socialNumber }}</b>
    </p>

    <h3 class="mb5 gray">Den här patienten har en enkät som inte är överförd till NDR</h3>
    <h4 class="mb5 f-subheadline b gray">Enkätsvar {{ model.selectedInvite.submittedAt | date:'yyyy-MM-dd' }}</h4>

    <div class="cf b pb2 tl tc-ns bb b--gray">
      <div class="fl-ns pa2 w-40-ns tr-ns">Dimension</div>
      <div class="fl-ns pa2 w-40-ns">Värde</div>
      <div class="fl-ns pa2 w-20-ns">Förändring</div>
    </div>
    <div ng-repeat="outcome in model.selectedInvite.outcomes" class="cf">
      <div class="fl-ns pa2 w-40-ns tl tr-ns">{{ outcome.dimension.desc }}</div>
      <div class="fl-ns pv2 w-40-ns tl relative br bl b--light-gray" style="padding-left: 1px; padding-right: 1px;">
        <span class="dib bg-blue" style="height: 20px; width: {{ outcome.outcome }}%"></span>
        <span class="absolute ml1" style="top: 2px; left: {{ outcome.outcome }}%">
          {{ outcome.outcome | number: 0 }}
        </span>
      </div>
      <div class="fl-ns pa2 w-20-ns tl tc-ns">n/a</div>
    </div>

    <!-- <textarea class="db w-100 h5">{{ model.selectedInvite.copyText }}</textarea> -->

    <button
      ng-click="toggleCopyView()"
      class="Button Button--info mt2 mt4-ns mr4-ns">
      Kopiera tabell till urklipp
    </button>
    <button
      ng-if="!model.selectedInvite.approvedNDR"
      ng-click="signInvite(model.selectedInvite)"
      class="Button Button--info mt2 mt4-ns">
      Signera (förs över till NDR)
    </button>
  </div>
</script>