<div class="container">
  <div class="Panel" style="text-align: center;">
    <h1 class="Page-heading mt0" style="position: relative;">
      Logga in
    </h1>
    <tabset justified>
      <tab heading="För dig med diabetes">
        <div ng-if="!model.loginStarted">
          <!--<h4 class="col-md-6 col-md-offset-3 pv5-ns f2 lh-copy">
            Logga in med Mobilt BankID för att se och besvara Diabetesenkäten.
            Om du inte har Mobilt BankID kan du få engångskod av din vårdenhet.
          </h4>-->

          <div class="row">
            <div class="col-md-5">
              <img src="images/bankid_small.png" class="" style="" alt=""/>
              <h5 class="f2 fw2">Logga in med Mobilt BankID </h5>
              <small class="orange strong mb2 db">Du kommer legitimera dig mot "Registercentrum"</small>
              <form ng-submit="startLogin('subject')">
                <input placeholder="19ÅÅMMDDXXXX" type="text" class="db w-80 pa3 mb4 center" ng-model="model.socialnumber" />
                <div class="red mb4" ng-if="model.loginFailed">
                  Något gick fel, vänligen försök igen.
                </div>

                <div class="red mb4" ng-if="model.message">
                  {{model.message}}
                </div>
                <button type="submit" class="Button Button--info">
                  Logga in
                </button>
              </form>
            </div>
            <div class="col-md-2 pt5 mt3 f2 fw2">
              <em>eller</em>
            </div>
            <div class="col-md-5">
              <img src="images/lock_small.png" class="" style="max-height: 50px;" alt=""/>
              <h5 class="f2 fw2">Logga in med engångskod</h5>
			  <small class="orange strong mb2 db">Med engångskod kan du endast besvara din diabetesenkät</small>
              <form ng-submit="loginPROMKey()">
                <input placeholder="DIN KOD" type="text" class="db w-80 pa3 mb4 center" ng-model="model.PROMKey" />
                <div class="red mb4" ng-if="model.loginPROMKeyFailed">
                  {{ model.loginPROMKeyFailedMessage || "Något gick fel, vänligen försök igen." }}
                </div>
                <button type="submit" class="Button Button--info">
                  Logga in
                </button>
				<small class="mb4 db" style="margin-top:15px"> <i class="fa fa-exclamation-circle"></i>Gäller endast dig som behandlas på en klinik/vårdcentral som deltar i testning av <strong>Diabetesenkäten</strong>.</small>
			  </form>
            </div>
          </div>
        </div>
        <div ng-if="model.loginStarted" class="pt4-ns pb6-ns">
          <div class="loader">Loading...</div>
          <img src="images/bankid_info.png" class="db center mw7 mt2" alt="Öppna din Bank-ID-applikation för att legitimera dig." />
        </div>
      </tab>
      <tab heading="Vårdpersonal">
        <div class="row relative">
          <a style="position: absolute; right: 0; top: -100px;" ui-sref="main.currentUser">Skaffa konto</a>
          <div ng-if="!model.loginStarted">
            <h4 class="col-md-8 col-md-offset-2 pv5-ns f2 lh-copy">
              Logga in med Mobilt BankID. (Har du SITHS-kort blir du automatiskt inloggad.)
              Som inloggad användare kan du använda e-tjänsterna: 'Registrera', 'Söklistan', 'Diabetesprofilen' m.fl.
            </h4>
            <div class="col-md-6 col-md-offset-3">
              <img src="images/bankid_small.png" class="" style="" alt=""/>
              <h5 class="f2 fw2">Mobilt Bank-ID </h5>
              <small class="orange strong mb2 db">Du kommer legitimera dig mot Registercentrum</small>
              <form ng-submit="startLogin('user')">
                <input placeholder="19ÅÅMMDDXXXX" type="text" class="db w-80 pa3 mb4 center" ng-model="model.socialnumber" />
                <div class="red mb4" ng-if="model.loginFailed">
                  Något gick fel, vänligen försök igen.
                </div>
                <div class="red mb4" ng-if="model.message">
                  {{model.message}}
                </div>
                <button type="submit" class="Button Button--info">
                  Logga in
                </button>
              </form>
            </div>
          </div>
          <div ng-if="model.loginStarted" class="pt4-ns pb6-ns">
            <div class="loader">Loading...</div>
            <img src="images/bankid_info.png" class="db center mw7 mt2" alt="Öppna din Bank-ID-applikation för att legitimera dig." />
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<script type="text/ng-template" id="unitModalTmpl">
  <div class="modal-body text-center">
    <a
      ng-click="$dismiss('cancel')"
      class="absolute top-0 right-0 mt3 mr3 link black pointer no-underline fa fa-close"
      style="text-decoration: none;"
    ></a>
    <h3 class="mb5">Du har användarkonton på flera enheter.</h3>
    <div class="tc mw8 center">
      <p class="f2 mb5">
        Vilken enhet arbetar du på idag?
      </p>
      <p class="f2 mb5">
        <select
          id="unitSelect"
          ng-model="model.selectedAccountID"
          ng-change="selectAccount()"
          ng-options="account.accountID as account.unit.name for account in model.accountModel.user.activeAccounts"
        >
          <option value="">Välj enhet</option>
        </select>
      </p>
    </div>
  </div>
</script>
