@import "../bower_components/bootstrap/less/bootstrap";
@import "_variables";

// Grays
@gray-darker: #222222;
@gray-dark: #333333;
@gray: #555555;
@gray-light: #999999;
@gray-lighter: #eee;

@ndr-white : #FFFFFF;
@ndr-gray : #F6F5EE;
@ndr-graydark : #888;
@ndr-semidark : #555;
@ndr-dark : #333;
@ndr-yellow : #FFCC01;
@ndr-green : #72BE9C;
@ndr-darkgreen : #278470;
@ndr-blue : #74BAD8;
@ndr-purple : #7C4791;
@ndr-pink : #E14274;


// Brand Colors
@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;
@brand-info: #5bc0de;


body {
  background: @ndr-gray;
  line-height: 1.5;
}

p {
  font-weight: 300;
}

.badge.equal{
  background-color: @ndr-yellow;
}

.badge.worse{
  background-color: @ndr-pink;
}

.badge.better{
  background-color: @ndr-green;
}
img {
  max-width: 100%;
}


/*
  UTILITY CLASSES
*/
.u-noLeftPadding {
  padding-left: 0 !important;
}

.u-noRightPadding {
  padding-right: 0 !important;
}