@import "../bower_components/bootstrap/less/bootstrap";
@import "_variables";

// Grays
@gray-darker: #222222;
@gray-dark: #333333;
@gray: #555555;
@gray-light: #999999;
@gray-lighter: #eee;

@ndr-white : #FFFFFF;
@ndr-gray : #F6F5EE;
@ndr-graydark : #888;
@ndr-semidark : #555;
@ndr-dark : #333;
@ndr-yellow : #FFCC01;
@ndr-green : #72BE9C;
@ndr-darkgreen : #278470;
@ndr-blue : #74BAD8;
@ndr-purple : #7C4791;
@ndr-pink : #E14274;
@ndr-red : #C2213D;


// Brand Colors
@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;
@brand-info: #5bc0de;


body {
  background: @ndr-gray;
  line-height: 1.6;
}

p {
  font-weight: 300;
}

.badge.equal{
  background-color: @ndr-yellow;
}

.badge.worse{
  background-color: @ndr-pink;
}

.badge.better{
  background-color: @ndr-green;
}
img {
  max-width: 100%;
}


/*
  UTILITY CLASSES
*/
.u-noLeftPadding {
  padding-left: 0 !important;
}

.u-noRightPadding {
  padding-right: 0 !important;
}

@media all and (max-width: 800px) {
  .u-mobileHidden {
    display: none;
  }
}


.Profile-item-icon {
  display: block;
  background-position: center;
  margin-top: 35px;
  min-height: 115px;
}

.Profile-item-icon--patients {
  .Grunticon('icon_patients');
}

.Profile-item-icon--unit {
  .Grunticon('icon_unit');
}


.glyphicon:extend(.fa all) {
  &.glyphicon-chevron-right:extend(.fa-chevron-right all) {};
  &.glyphicon-chevron-left:extend(.fa-chevron-left all) {};
  &.glyphicon-chevron-up:extend(.fa-chevron-up all) {};
  &.glyphicon-chevron-down:extend(.fa-chevron-down all) {};
}



@font-face {
  font-family: 'icomoon';
  src:url('../icons/fonts/icomoon.eot?-4flojz');
  src:url('../icons/fonts/icomoon.eot?#iefix-4flojz') format('embedded-opentype'),
  url('../icons/fonts/icomoon.woff?-4flojz') format('woff'),
  url('../icons/fonts/icomoon.ttf?-4flojz') format('truetype'),
  url('../icons/fonts/icomoon.svg?-4flojz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-noun_4820_cc:before {
  content: "\e737";
}

.icon-noun_100084_cc:before {
  content: "\e738";
}

.icon-noun_17376_cc:before {
  content: "\e735";
}

.icon-noun_4451_cc:before {
  content: "\e736";
}

.icon-noun_79:before {
  content: "\e600";
}

.icon-times:before {
  content: "\e601";
}

.icon-tick:before {
  content: "\e602";
}

.icon-plus:before {
  content: "\e603";
}

.icon-minus:before {
  content: "\e604";
}

.icon-equals:before {
  content: "\e605";
}

.icon-divide:before {
  content: "\e606";
}

.icon-chevron-right:before {
  content: "\e607";
}

.icon-chevron-left:before {
  content: "\e608";
}

.icon-arrow-right-thick:before {
  content: "\e609";
}

.icon-arrow-left-thick:before {
  content: "\e60a";
}

.icon-th-small:before {
  content: "\e60b";
}

.icon-th-menu:before {
  content: "\e60c";
}

.icon-th-list:before {
  content: "\e60d";
}

.icon-th-large:before {
  content: "\e60e";
}

.icon-home:before {
  content: "\e60f";
}

.icon-arrow-forward:before {
  content: "\e610";
}

.icon-arrow-back:before {
  content: "\e611";
}

.icon-rss:before {
  content: "\e612";
}

.icon-location:before {
  content: "\e613";
}

.icon-link:before {
  content: "\e614";
}

.icon-image:before {
  content: "\e615";
}

.icon-arrow-up-thick:before {
  content: "\e616";
}

.icon-arrow-down-thick:before {
  content: "\e617";
}

.icon-starburst:before {
  content: "\e618";
}

.icon-starburst-outline:before {
  content: "\e619";
}

.icon-star:before {
  content: "\e61a";
}

.icon-flow-children:before {
  content: "\e61b";
}

.icon-export:before {
  content: "\e61c";
}

.icon-delete:before {
  content: "\e61d";
}

.icon-delete-outline:before {
  content: "\e61e";
}

.icon-cloud-storage:before {
  content: "\e61f";
}

.icon-wi-fi:before {
  content: "\e620";
}

.icon-heart:before {
  content: "\e621";
}

.icon-flash:before {
  content: "\e622";
}

.icon-cancel:before {
  content: "\e623";
}

.icon-backspace:before {
  content: "\e624";
}

.icon-attachment:before {
  content: "\e625";
}

.icon-arrow-move:before {
  content: "\e626";
}

.icon-warning:before {
  content: "\e627";
}

.icon-user:before {
  content: "\e628";
}

.icon-radar:before {
  content: "\e629";
}

.icon-lock-open:before {
  content: "\e62a";
}

.icon-lock-closed:before {
  content: "\e62b";
}

.icon-location-arrow:before {
  content: "\e62c";
}

.icon-info:before {
  content: "\e62d";
}

.icon-user-delete:before {
  content: "\e62e";
}

.icon-user-add:before {
  content: "\e62f";
}

.icon-media-pause:before {
  content: "\e630";
}

.icon-group:before {
  content: "\e631";
}

.icon-chart-pie:before {
  content: "\e632";
}

.icon-chart-line:before {
  content: "\e633";
}

.icon-chart-bar:before {
  content: "\e634";
}

.icon-chart-area:before {
  content: "\e635";
}

.icon-video:before {
  content: "\e636";
}

.icon-point-of-interest:before {
  content: "\e637";
}

.icon-infinity:before {
  content: "\e638";
}

.icon-globe:before {
  content: "\e639";
}

.icon-eye:before {
  content: "\e63a";
}

.icon-cog:before {
  content: "\e63b";
}

.icon-camera:before {
  content: "\e63c";
}

.icon-upload:before {
  content: "\e63d";
}

.icon-scissors:before {
  content: "\e63e";
}

.icon-refresh:before {
  content: "\e63f";
}

.icon-pin:before {
  content: "\e640";
}

.icon-key:before {
  content: "\e641";
}

.icon-info-large:before {
  content: "\e642";
}

.icon-eject:before {
  content: "\e643";
}

.icon-download:before {
  content: "\e644";
}

.icon-zoom:before {
  content: "\e645";
}

.icon-zoom-out:before {
  content: "\e646";
}

.icon-zoom-in:before {
  content: "\e647";
}

.icon-sort-numerically:before {
  content: "\e648";
}

.icon-sort-alphabetically:before {
  content: "\e649";
}

.icon-input-checked:before {
  content: "\e64a";
}

.icon-calender:before {
  content: "\e64b";
}

.icon-world:before {
  content: "\e64c";
}

.icon-notes:before {
  content: "\e64d";
}

.icon-code:before {
  content: "\e64e";
}

.icon-arrow-sync:before {
  content: "\e64f";
}

.icon-arrow-shuffle:before {
  content: "\e650";
}

.icon-arrow-repeat:before {
  content: "\e651";
}

.icon-arrow-minimise:before {
  content: "\e652";
}

.icon-arrow-maximise:before {
  content: "\e653";
}

.icon-arrow-loop:before {
  content: "\e654";
}

.icon-anchor:before {
  content: "\e655";
}

.icon-spanner:before {
  content: "\e656";
}

.icon-puzzle:before {
  content: "\e657";
}

.icon-power:before {
  content: "\e658";
}

.icon-plane:before {
  content: "\e659";
}

.icon-pi:before {
  content: "\e65a";
}

.icon-phone:before {
  content: "\e65b";
}

.icon-microphone:before {
  content: "\e65c";
}

.icon-media-rewind:before {
  content: "\e65d";
}

.icon-flag:before {
  content: "\e65e";
}

.icon-adjust-brightness:before {
  content: "\e65f";
}

.icon-waves:before {
  content: "\e660";
}

.icon-social-twitter:before {
  content: "\e661";
}

.icon-social-facebook:before {
  content: "\e662";
}

.icon-social-dribbble:before {
  content: "\e663";
}

.icon-media-stop:before {
  content: "\e664";
}

.icon-media-record:before {
  content: "\e665";
}

.icon-media-play:before {
  content: "\e666";
}

.icon-media-fast-forward:before {
  content: "\e667";
}

.icon-media-eject:before {
  content: "\e668";
}

.icon-social-vimeo:before {
  content: "\e669";
}

.icon-social-tumbler:before {
  content: "\e66a";
}

.icon-social-skype:before {
  content: "\e66b";
}

.icon-social-pinterest:before {
  content: "\e66c";
}

.icon-social-linkedin:before {
  content: "\e66d";
}

.icon-social-last-fm:before {
  content: "\e66e";
}

.icon-social-github:before {
  content: "\e66f";
}

.icon-social-flickr:before {
  content: "\e670";
}

.icon-at:before {
  content: "\e671";
}

.icon-times-outline:before {
  content: "\e672";
}

.icon-plus-outline:before {
  content: "\e673";
}

.icon-minus-outline:before {
  content: "\e674";
}

.icon-tick-outline:before {
  content: "\e675";
}

.icon-th-large-outline:before {
  content: "\e676";
}

.icon-equals-outline:before {
  content: "\e677";
}

.icon-divide-outline:before {
  content: "\e678";
}

.icon-chevron-right-outline:before {
  content: "\e679";
}

.icon-chevron-left-outline:before {
  content: "\e67a";
}

.icon-arrow-right-outline:before {
  content: "\e67b";
}

.icon-arrow-left-outline:before {
  content: "\e67c";
}

.icon-th-small-outline:before {
  content: "\e67d";
}

.icon-th-menu-outline:before {
  content: "\e67e";
}

.icon-th-list-outline:before {
  content: "\e67f";
}

.icon-news:before {
  content: "\e680";
}

.icon-home-outline:before {
  content: "\e681";
}

.icon-arrow-up-outline:before {
  content: "\e682";
}

.icon-arrow-forward-outline:before {
  content: "\e683";
}

.icon-arrow-down-outline:before {
  content: "\e684";
}

.icon-arrow-back-outline:before {
  content: "\e685";
}

.icon-trash:before {
  content: "\e686";
}

.icon-rss-outline:before {
  content: "\e687";
}

.icon-message:before {
  content: "\e688";
}

.icon-location-outline:before {
  content: "\e689";
}

.icon-link-outline:before {
  content: "\e68a";
}

.icon-image-outline:before {
  content: "\e68b";
}

.icon-export-outline:before {
  content: "\e68c";
}

.icon-cross:before {
  content: "\e68d";
}

.icon-wi-fi-outline:before {
  content: "\e68e";
}

.icon-star-outline:before {
  content: "\e68f";
}

.icon-media-pause-outline:before {
  content: "\e690";
}

.icon-mail:before {
  content: "\e691";
}

.icon-heart-outline:before {
  content: "\e692";
}

.icon-flash-outline:before {
  content: "\e693";
}

.icon-cancel-outline:before {
  content: "\e694";
}

.icon-beaker:before {
  content: "\e695";
}

.icon-arrow-move-outline:before {
  content: "\e696";
}

.icon-watch:before {
  content: "\e697";
}

.icon-warning-outline:before {
  content: "\e698";
}

.icon-time:before {
  content: "\e699";
}

.icon-radar-outline:before {
  content: "\e69a";
}

.icon-lock-open-outline:before {
  content: "\e69b";
}

.icon-location-arrow-outline:before {
  content: "\e69c";
}

.icon-info-outline:before {
  content: "\e69d";
}

.icon-backspace-outline:before {
  content: "\e69e";
}

.icon-attachment-outline:before {
  content: "\e69f";
}

.icon-user-outline:before {
  content: "\e6a0";
}

.icon-user-delete-outline:before {
  content: "\e6a1";
}

.icon-user-add-outline:before {
  content: "\e6a2";
}

.icon-lock-closed-outline:before {
  content: "\e6a3";
}

.icon-group-outline:before {
  content: "\e6a4";
}

.icon-chart-pie-outline:before {
  content: "\e6a5";
}

.icon-chart-line-outline:before {
  content: "\e6a6";
}

.icon-chart-bar-outline:before {
  content: "\e6a7";
}

.icon-chart-area-outline:before {
  content: "\e6a8";
}

.icon-video-outline:before {
  content: "\e6a9";
}

.icon-point-of-interest-outline:before {
  content: "\e6aa";
}

.icon-map:before {
  content: "\e6ab";
}

.icon-key-outline:before {
  content: "\e6ac";
}

.icon-infinity-outline:before {
  content: "\e6ad";
}

.icon-globe-outline:before {
  content: "\e6ae";
}

.icon-eye-outline:before {
  content: "\e6af";
}

.icon-cog-outline:before {
  content: "\e6b0";
}

.icon-camera-outline:before {
  content: "\e6b1";
}

.icon-upload-outline:before {
  content: "\e6b2";
}

.icon-support:before {
  content: "\e6b3";
}

.icon-scissors-outline:before {
  content: "\e6b4";
}

.icon-refresh-outline:before {
  content: "\e6b5";
}

.icon-info-large-outline:before {
  content: "\e6b6";
}

.icon-eject-outline:before {
  content: "\e6b7";
}

.icon-download-outline:before {
  content: "\e6b8";
}

.icon-battery-mid:before {
  content: "\e6b9";
}

.icon-battery-low:before {
  content: "\e6ba";
}

.icon-battery-high:before {
  content: "\e6bb";
}

.icon-zoom-outline:before {
  content: "\e6bc";
}

.icon-zoom-out-outline:before {
  content: "\e6bd";
}

.icon-zoom-in-outline:before {
  content: "\e6be";
}

.icon-tag:before {
  content: "\e6bf";
}

.icon-tabs-outline:before {
  content: "\e6c0";
}

.icon-pin-outline:before {
  content: "\e6c1";
}

.icon-message-typing:before {
  content: "\e6c2";
}

.icon-directions:before {
  content: "\e6c3";
}

.icon-battery-full:before {
  content: "\e6c4";
}

.icon-battery-charge:before {
  content: "\e6c5";
}

.icon-pipette:before {
  content: "\e6c6";
}

.icon-pencil:before {
  content: "\e6c7";
}

.icon-folder:before {
  content: "\e6c8";
}

.icon-folder-delete:before {
  content: "\e6c9";
}

.icon-folder-add:before {
  content: "\e6ca";
}

.icon-edit:before {
  content: "\e6cb";
}

.icon-document:before {
  content: "\e6cc";
}

.icon-document-delete:before {
  content: "\e6cd";
}

.icon-document-add:before {
  content: "\e6ce";
}

.icon-brush:before {
  content: "\e6cf";
}

.icon-thumbs-up:before {
  content: "\e6d0";
}

.icon-thumbs-down:before {
  content: "\e6d1";
}

.icon-pen:before {
  content: "\e6d2";
}

.icon-sort-numerically-outline:before {
  content: "\e6d3";
}

.icon-sort-alphabetically-outline:before {
  content: "\e6d4";
}

.icon-social-last-fm-circular:before {
  content: "\e6d5";
}

.icon-social-github-circular:before {
  content: "\e6d6";
}

.icon-compass:before {
  content: "\e6d7";
}

.icon-bookmark:before {
  content: "\e6d8";
}

.icon-input-checked-outline:before {
  content: "\e6d9";
}

.icon-code-outline:before {
  content: "\e6da";
}

.icon-calender-outline:before {
  content: "\e6db";
}

.icon-business-card:before {
  content: "\e6dc";
}

.icon-arrow-up:before {
  content: "\e6dd";
}

.icon-arrow-sync-outline:before {
  content: "\e6de";
}

.icon-arrow-right:before {
  content: "\e6df";
}

.icon-arrow-repeat-outline:before {
  content: "\e6e0";
}

.icon-arrow-loop-outline:before {
  content: "\e6e1";
}

.icon-arrow-left:before {
  content: "\e6e2";
}

.icon-flow-switch:before {
  content: "\e6e3";
}

.icon-flow-parallel:before {
  content: "\e6e4";
}

.icon-flow-merge:before {
  content: "\e6e5";
}

.icon-document-text:before {
  content: "\e6e6";
}

.icon-clipboard:before {
  content: "\e6e7";
}

.icon-calculator:before {
  content: "\e6e8";
}

.icon-arrow-minimise-outline:before {
  content: "\e6e9";
}

.icon-arrow-maximise-outline:before {
  content: "\e6ea";
}

.icon-arrow-down:before {
  content: "\e6eb";
}

.icon-gift:before {
  content: "\e6ec";
}

.icon-film:before {
  content: "\e6ed";
}

.icon-database:before {
  content: "\e6ee";
}

.icon-bell:before {
  content: "\e6ef";
}

.icon-anchor-outline:before {
  content: "\e6f0";
}

.icon-adjust-contrast:before {
  content: "\e6f1";
}

.icon-world-outline:before {
  content: "\e6f2";
}

.icon-shopping-bag:before {
  content: "\e6f3";
}

.icon-power-outline:before {
  content: "\e6f4";
}

.icon-notes-outline:before {
  content: "\e6f5";
}

.icon-device-tablet:before {
  content: "\e6f6";
}

.icon-device-phone:before {
  content: "\e6f7";
}

.icon-device-laptop:before {
  content: "\e6f8";
}

.icon-device-desktop:before {
  content: "\e6f9";
}

.icon-briefcase:before {
  content: "\e6fa";
}

.icon-stopwatch:before {
  content: "\e6fb";
}

.icon-spanner-outline:before {
  content: "\e6fc";
}

.icon-puzzle-outline:before {
  content: "\e6fd";
}

.icon-printer:before {
  content: "\e6fe";
}

.icon-pi-outline:before {
  content: "\e6ff";
}

.icon-lightbulb:before {
  content: "\e700";
}

.icon-flag-outline:before {
  content: "\e701";
}

.icon-contacts:before {
  content: "\e702";
}

.icon-archive:before {
  content: "\e703";
}

.icon-weather-stormy:before {
  content: "\e704";
}

.icon-weather-shower:before {
  content: "\e705";
}

.icon-weather-partly-sunny:before {
  content: "\e706";
}

.icon-weather-downpour:before {
  content: "\e707";
}

.icon-weather-cloudy:before {
  content: "\e708";
}

.icon-plane-outline:before {
  content: "\e709";
}

.icon-phone-outline:before {
  content: "\e70a";
}

.icon-microphone-outline:before {
  content: "\e70b";
}

.icon-weather-windy:before {
  content: "\e70c";
}

.icon-weather-windy-cloudy:before {
  content: "\e70d";
}

.icon-weather-sunny:before {
  content: "\e70e";
}

.icon-weather-snow:before {
  content: "\e70f";
}

.icon-weather-night:before {
  content: "\e710";
}

.icon-media-stop-outline:before {
  content: "\e711";
}

.icon-media-rewind-outline:before {
  content: "\e712";
}

.icon-media-record-outline:before {
  content: "\e713";
}

.icon-media-play-outline:before {
  content: "\e714";
}

.icon-media-fast-forward-outline:before {
  content: "\e715";
}

.icon-media-eject-outline:before {
  content: "\e716";
}

.icon-wine:before {
  content: "\e717";
}

.icon-waves-outline:before {
  content: "\e718";
}

.icon-ticket:before {
  content: "\e719";
}

.icon-tags:before {
  content: "\e71a";
}

.icon-plug:before {
  content: "\e71b";
}

.icon-headphones:before {
  content: "\e71c";
}

.icon-credit-card:before {
  content: "\e71d";
}

.icon-coffee:before {
  content: "\e71e";
}

.icon-book:before {
  content: "\e71f";
}

.icon-beer:before {
  content: "\e720";
}

.icon-volume:before {
  content: "\e721";
}

.icon-volume-up:before {
  content: "\e722";
}

.icon-volume-mute:before {
  content: "\e723";
}

.icon-volume-down:before {
  content: "\e724";
}

.icon-social-vimeo-circular:before {
  content: "\e725";
}

.icon-social-twitter-circular:before {
  content: "\e726";
}

.icon-social-pinterest-circular:before {
  content: "\e727";
}

.icon-social-linkedin-circular:before {
  content: "\e728";
}

.icon-social-facebook-circular:before {
  content: "\e729";
}

.icon-social-dribbble-circular:before {
  content: "\e72a";
}

.icon-tree:before {
  content: "\e72b";
}

.icon-thermometer:before {
  content: "\e72c";
}

.icon-social-tumbler-circular:before {
  content: "\e72d";
}

.icon-social-skype-outline:before {
  content: "\e72e";
}

.icon-social-flickr-circular:before {
  content: "\e72f";
}

.icon-social-at-circular:before {
  content: "\e730";
}

.icon-shopping-cart:before {
  content: "\e731";
}

.icon-messages:before {
  content: "\e732";
}

.icon-leaf:before {
  content: "\e733";
}

.icon-feather:before {
  content: "\e734";
}


.icon-silu:before {
  content: "\e739";
}
