<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<caching enabled="false" />
        <security>
            <access sslFlags="SslNegotiateCert" />
        </security>
    </system.webServer>
  <location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>