.Button {
  line-height: inherit;
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: @btn-font-weight;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 30px;
  font-weight: 300;
  letter-spacing: 0.03em;
  border-radius: 3px;
  transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
  .user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      .tab-focus();
    }
  }

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
    background-color: rgba(red(@ndr-blue), green(@ndr-blue), blue(@ndr-blue),0.2);
    color: @ndr-blue;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
    .opacity(.65);
    .box-shadow(none);
  }
}

.Button--default {
  border: 1px solid @ndr-blue;
  color: @ndr-blue;
  background-color: transparent;
}

.Button--primary {
  &:extend(.btn-primary);
}

.Button--success {
  &:extend(.btn-success);
}

.Button--info {
  &:extend(.btn-info);
  background: @ndr-blue;
  color: #fff;
  border: 1px solid @ndr-blue;
  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
    background-color: rgba(red(@ndr-blue), green(@ndr-blue), blue(@ndr-blue),0.8);
    color: @ndr-white;
  }
}

.Button--warning {
  &:extend(.btn-warning);
}

.Button--danger {
  &:extend(.btn-danger);
}

.Button--white {
  border: 2px solid @ndr-white;
  color: @ndr-white;

  &:hover,
  &:focus,
  &.focus {
    background-color: rgba(red(@ndr-white), green(@ndr-white), blue(@ndr-white),0.2);
    color: @ndr-white;
  }

}

.Button--dark {
  //border: 2px solid @ndr-dark;
  color: @ndr-white;
  background: @ndr-dark;
  border:none;
  &:hover,
  &:focus,
  &.focus,&.active {
    background-color: rgba(red(@ndr-dark), green(@ndr-dark), blue(@ndr-dark),0.8);
    color: @ndr-white;
  }

}


.Button--strong {
  font-weight: 400;
}

.Button--centered {
  display: block;
  margin: 10px auto;
}

.Button--centered--60 {
  width: 60%;
}

.Button--centered--80 {
  width: 80%;
}

.Button--large {
  border-width: 2px;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 500;
}

.Button--wide {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.Button--tight {
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 400;
}

.Button--small {
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
}

.Button--mini {
  font-size: 11px;
  padding: 5px 10px;
  font-weight: 400;
  letter-spacing: normal;
}

.Button--green {
  border-color: @ndr-green;
  color: @ndr-green;

  &:hover,
  &:focus,
  &.focus {
    background-color: rgba(red(@ndr-green), green(@ndr-green), blue(@ndr-green),0.2);
    color: @ndr-green;
  }
}



/* Daniel testing variation of button for County profile */

.IndicatorButton {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: @btn-font-weight;
  font-size: 14px;
  text-align: left;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 30px;
  font-weight: 300;
  letter-spacing: 0.03em;
  border-radius: 3px;
  transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
  .user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      .tab-focus();
    }
  }

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
    background-color: rgba(red(@ndr-blue), green(@ndr-blue), blue(@ndr-blue),0.2);
    color: @ndr-blue;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
    .opacity(.65);
    .box-shadow(none);
  }
}
