<div class="container">
  <div class="row">

    <div class="col-md-8">
      <div class="Panel clearfix">

      <article class="col-md-8 pull-right">

        <h1 class="Article-title">{{ article.title }}</h1>
        <p class="Article-date">{{ article.createdAt | date: 'longDate' }}</p>
        <div class="Article-body" ng-bind-html="article.body"></div>

      </article>

        <aside class="col-md-4">
          <div class="Article-metadata">

            <img class="Article-metadata-image" src="https://placekitten.com/g/150/150">
            <span class="Article-metadata-author">{{ article.author }}</span>

          </div>
        </aside>
      </div>
    </div>

    <div class="col-md-3">
      <div class="Panel">

        <h4 class="Panel-title">Nyheter i korthet</h4>
        <div list model="model.listModelNews"></div>

      </div>
    </div>

  </div>
</div>