.NavbarVertical-item-link {
  background-position: center;
  background-color: @ndr-yellow;
  border-radius: 4px;
  color: @ndr-dark;
  height: 140px;
  text-align: center;
  width: 80%;
}

.NavbarVertical {

  .active > .NavbarVertical-item-link, .active > .NavbarVertical-item-link:hover, .active > .NavbarVertical-item-link:focus{
    border-radius: 4px;
    background: @ndr-dark;
    color: @ndr-white;
    fill: @ndr-white;
  }

  > li > a {
    padding: 8px;
    
  }

}

.NavbarVertical-item-icon {
  display: block;
  height: 70px;
  background-position: center;
  margin-top: 14px;
}

.NavbarVertical-item-icon--overview {
  .Grunticon('icon_heart');
}

.NavbarVertical-item-icon--report {
  .Grunticon('icon_pen');
}

.NavbarVertical-item-icon--patients {
  .Grunticon('icon_user');
}

.NavbarVertical-item-icon--patientProfile {
  .Grunticon('icon_user');
}

.NavbarVertical-item-link-name {
  display: block;
  font-size: 20px;
  font-weight: 300;
}


.NavbarVertical-item-link-name{
  @media (max-width: 1200px) {
      font-size: 15px;
  }
}