<div class="row" style="min-height: 20px;margin-bottom: 0px">

    <div class="col-md-12">

        <div class="pane no-padding" style="padding: 10px">
            <span style="margin-right: 20px;font-size:16px;">Snabbmeny</span>

           <a href="#/statistik/landsting/200">Stockholm</a> |  <a href="#/statistik/landsting/197">Jönköping</a>


            <!--  <select style="display: inline; width:200px" class="form-control" ng-model="app.model.active" ng-change="countyChangeHandler()" ng-options="k as v for (k, v) in app.meta.counties">
                  <option value="">Landsting</option>
              </select>-->

<!--
            <select style="display: inline; width:200px" class="form-control" ng-model="app.model.active.countyID" ng-change="countyChangeHandler()" ng-options="county.value.county_name for county in app.meta.a">
                <option value="">Vårdenheter (TODO)</option>
            </select>-->

            <div class="pull-right" style="text-align:right">Plats för datumväljare/exportera m.m.</div>

        </div>

    </div>



</div>


<div ui-view></div>