<!-- HEAD -->

<div class="row">

    <div class="col-md-12">

        <div class="pane">


            <div class="row">

                <div class="col-md-12">

                    <div class="panel">
                        <div class="panel-body">
                           <h1>{{ item.county_name }}</h1>
                        </div>
                    </div>

                </div>

            </div>


            <div class="row">

                <div class="col-md-4">

                    <div class="panel">

                        <div class="panel-body">
                            <h2>{{ patients }}</h2>
                            <h5>patienter</h5>
                        </div>
                    </div>

                </div>



                <div class="col-md-4">

                    <div class="panel">

                        <div class="panel-body">
                            <h2>233</h2>
                            <h5>vårdenheter</h5>
                        </div>
                    </div>

                </div>


                <div class="col-md-4">

                    <div class="panel">

                        <div class="panel-body">
                            <h2>68%</h2>
                            <h5>täckningsgrad</h5>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-9">

                    <div class="panel">
                        <div class="panel-heading">
                            Översikt
                        </div>
                        <div class="panel-body">
                            <bar-chart></bar-chart>

                        </div>
                    </div>


                    <div class="panel">
                        <div class="panel-heading">
                            Över tid
                        </div>
                        <div class="panel-body">


                            TODO

                        </div>
                    </div>


                </div>





                <div class="col-md-3">

                    <div class="panel">
                        <div class="panel-heading">
                            Jämfört med andra landsting
                        </div>
                        <div class="panel-body">

                            <rank-chart></rank-chart>


                        </div>
                    </div>




                    <div class="panel">
                        <div class="panel-heading">
                            Vårdenheter (högst / lägst) <select name="" id="">
                            <option value="">HbA1c < 52</option></select>
                        </div>
                        <div class="panel-body">

                            <b>Högst andel</b>
                            <table class="table table-condensed">
                                <tr>
                                    <td>Kvarnbyn A</td><td>98%</td>
                                </tr>
                                <tr>
                                    <td>Kvarnbyn B</td><td>93%</td>
                                </tr>
                                <tr>
                                    <td>Kvarnbyn C</td><td>81%</td>
                                </tr>
                            </table>


                            <b>Lägst andel</b>
                            <table class="table table-condensed">
                                <tr>
                                    <td>Kvarnbyn D</td><td>45%</td>
                                </tr>
                                <tr>
                                    <td>Kvarnbyn E</td><td>32%</td>
                                </tr>
                                <tr>
                                    <td>Kvarnbyn F</td><td>31%</td>
                                </tr>
                            </table>


                        </div>
                    </div>

                </div> <!-- md 3-->

            </div> <!-- END row-->



            <div class="row">
                <div class="col-md-12">

                    <div class="panel">
                        <div class="panel-heading">
                            Vårdenheter
                        </div>
                        <div class="panel-body">


                        </div>
                    </div>
                </div>
            </div>  <!-- END row-->





        </div>  <!-- END PANE -->

    </div>

</div>



<!-- More -->

<div class="row">

    <div class="col-md-12">


        <div class="pane">
            <h3>Vårdenheter i {{ name }}</h3>

            <div class="" ng-repeat="unit in units">
                {{unit.Name}}
            </div>
        </div>

    </div>

</div>

