<div style="margin-top: 30px;">
	<h5 class="text-info">{{accountModel.activeAccount.unit.name}}</h5>
	<h3 class="Report-title" style="margin:1rem 0 2rem">Rapportera incidens</h3>
	<form name="incidenceForm" class="contactForm" novalidate ng-model-options="{ 'updateOn': 'blur' }">
		<div ng-repeat="g in groups" class="questionGroup" >
			<h4 style="margin:3rem 0 1rem">{{g.header}}</h4>
			<div class="qrow" ng-repeat="q in g.questions">
				<div class="questionlabel" ng-class="getQuestionClass(incidenceForm.{{ q.columnName}}.$invalid, model[q.columnName] != null)" style="width: 220px;min-width: 220px; font-weight: 600;padding: 18px 4px 18px 8px">{{ q.question }}<i class="fa fa-question-circle helpNote" style="color: #74BAD8; margin-left: 0.5rem" ng-show="q.helpNote != null" tooltip="{{q.helpNote}}"></i></div>
				<div ndr-Question-New question="q" model="model" methods="config.methods" subject="subject" style="width: 242px; min-width: 242px; padding: 10px 10px 6px; font-size: 13px"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 Report-formGroup-form">
				<label class="form-check-label">
					<input ng-model="model.incDone" style="margin-left: 230px;" class="form-check-input" type="checkbox"><span class="chkCenter"> Registrering av incidens klar</span>
				</label>
			</div>
		</div>
	</form>

	<ul ng-show="serverSaveErrors.length>0" style="margin-top: 3rem;padding: 0;margin-left: 220px;list-style-type:none;">
		<li ng-repeat="s in serverSaveErrors">
			{{s}}
		</li>
	</ul>

	<button type="submit" style="margin-left: 220px; margin-top:1rem;width: 242px" ng-disabled="incidenceForm.$invalid" ng-click="saveForm()" class="Button Button--large Button--info">Spara</button>

</div>
