<div class="container">

    <h1 class="page-header">GUIDELINES</h1>


    <div class="row">
        <div class="col-md-6">

            <div class="Panel">
                <h1>This is an h1 heading</h1>
                <h1 class="Page-title">This is an h1 heading with class Page-title</h1>
                <h1 class="h2">This is an h1 heading with class h2</h1>
                <h2>This is an h2 heading</h2>
                <h3>This is an h3 heading</h3>
                <h4>This is an h4 heading</h4>
                <h5>This is an h5 heading</h5>
                <h6>This is an h6 heading</h6>
                <p>Lorem ipsum</p>
            </div>

            <div class="Panel Panel--green">
                <h1>Test</h1>
                <p>Lorem ipsum</p>
            </div>

        </div>

        <div class="col-md-6">

            <div class="Panel Panel--purple">
                <h1>Test</h1>
                <p>Lorem ipsum</p>
            </div>

            <div class="Panel Panel--blue">
                <h1>Test</h1>
                <p>Lorem ipsum</p>
            </div>

        </div>

    </div>


    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    <h1 class="page-header">Page Header <small>With Small Text</small></h1>
                    <h1>This is an h1 heading</h1>
                    <h2>This is an h2 heading</h2>
                    <h3>This is an h3 heading</h3>
                    <h4>This is an h4 heading</h4>
                    <h5>This is an h5 heading</h5>
                    <h6>This is an h6 heading</h6>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="panel panel-default" id="buttons">
                <div class="panel-heading">Buttons</div>
                <div class="panel-body" style="background-color: #eee">

                    <p>
                        <button type="button" class="Button Button--default">Default</button>
                        <button type="button" class="Button Button--default Button--white Button--centered">White centered</button>
                        <button type="button" class="Button Button--default Button--centered">Centered</button>
                    </p>

                    <p><button type="button" class="Button Button--info">Info button</button></p>
                    <p><button type="button" class="Button Button--warning">Warning</button></p>
                    <p><button type="button" class="Button Button--success">Success</button></p>
                    <p><button type="button" class="Button Button--primary Button--large Button--wide">Primary large wide</button></p>
                    <p><button type="button" class="Button Button--large">Large button</button></p>
                    <p><button type="button" class="Button Button--small">Small button</button></p>
                    <p><button type="button" class="Button Button--mini">Mini button</button></p>
                    <p><button type="button" class="Button disabled">Disabled</button></p>

                </div>

            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-md-12">

            <div class="Autocomplete Autocomplete--bare" selectize="config" options='myOptions' ng-model="myModel"></div>
            <div class="Autocomplete" selectize="config" options='myOptions' ng-model="myModel"></div>
            <div class="Autocomplete Autocomplete--large Autocomplete--bare" selectize="config" options='myOptions' ng-model="myModel"></div>

        </div>

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="Panel">
                <h2>Tables</h2>

                <table class="Table">

                    <thead>
                        <tr>
                            <td>Namn</td>
                            <td>Antal patienter</td>
                            <td>Medelålder</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Wunderkraut</td>
                            <td>26</td>
                            <td>30</td>
                            <td><button class="Button Button--info">Ändra</button></td>
                        </tr>
                        <tr>
                            <td>Silvia Media</td>
                            <td>3</td>
                            <td>33</td>
                            <td><button class="Button Button--info">Ändra</button></td>
                        </tr>

                    </tbody>


                </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">




        </div>
    </div>

</div>









