<div class="container">

    <!--<div class="row">
        <div class="col-md-12">
      <div class="Panel Panel--alert">
        Denna helg utför vi systemunderhåll. Det kan medföra att det inte går att registrera i kvalitetsregistren under stora delar av lördagen och söndagen.
      </div>
    </div>
  </div>-->

    <div ng-show="accountModel.activeAccount && accountModel.chosenUserType=='subject'" class="row">
        <div class="hidden-xs hidden-sm hidden-md col-lg-12">
            <div class="Panel ServicesShortcuts">
                <span style="margin-right: 10px">E-tjänster:</span>
                <a ui-sref="main.subject.home" class="Button Button--default Button--strong">Översikt</a>
                <a ui-sref="main.subject.surveys" class="Button Button--default Button--strong">Mina Enkäter</a>
                <a ui-sref="main.subject.profile" class="Button Button--default Button--strong">Min Diabetesprofil</a>
            </div>
        </div>
    </div>

    <div ng-show="accountModel.activeAccount && accountModel.chosenUserType=='user'" class="row">
        <div class="hidden-xs hidden-sm hidden-md col-lg-12">
            <div class="Panel ServicesShortcuts">
                <!--<div>Inloggad på {{accountModel.activeAccount.unit.name}}.</div>-->
                <span style="margin-right: 10px">E-tjänster:</span>
                <a ui-sref="main.account.home" class="Button Button--primary .btn-primary Button--strong">Översikt</a>
                <a ui-sref="main.account.report" class="Button Button--primary Button--strong">Rapportera/Komplettera</a>
                <a ui-sref="main.account.patients" class="Button Button--primary Button--strong">Söklista</a>
                <a ui-sref="main.account.patient" class="Button Button--primary Button--strong">Patientprofil</a>
                <a ng-show="accountModel.activeAccount.unit.isUsingPROM" ui-sref="main.account.survey" class="Button Button--primary Button--strong">Diabetesenkäten</a>
                <div ng-if="accountModel.activeAccount.unit.contactPerson" style="line-height: 1.5">
					<span style="font-size: 13px;">Kontaktperson på <span style="color:#428bca">{{accountModel.activeAccount.unit.name}}</span> är <span style="color:#428bca">{{accountModel.activeAccount.unit.contactPerson}}</span></span>
				</div>
            </div>
        </div>
    </div>

	<div ng-show="accountModel.user.activeAccounts.length > 1 && accountModel.activeAccount == null" class="row">
        <div class="col-md-12">
            <div class="Panel ChooseUnit">
                <span>Du har användarkonton på flera enheter. Vilken enhet arbetar du på idag?</span>
                <select id="unitSelect" ng-model="selectedAccountID" ng-change="AccountIsSelected()" ng-options="account.accountID as account.unit.name for account in accountModel.user.activeAccounts">
					<option value="">Välj enhet</option>
				</select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="Panel Intro Intro--equalHeights" style="padding-bottom: 0px;margin-bottom: 0px">
                <div class="clearfix">
                    <div class="Intro-backgroundImage"></div>

                    <div class="row">

                        <div class="Intro-image col-md-3">

                        </div>
                        <div class="Intro-content col-md-9">
                            <h1 class="Intro-content-text" style="margin-top: 20px">
                                <span class="Intro-content-text-partial Intro-content-text-partial--heading">Från data till kunskap:</span><br>
                                <span class="Intro-content-text-partial">Hur jobbar Sveriges</span><br
                                    class="u-mobileHidden">
                                <span class="Intro-content-text-partial">regioner och vårdenheter</span><br
                                    class="u-mobileHidden">
                                <span class="Intro-content-text-partial">med diabetes?</span>

                                <div class="" style="margin-top: 50px;">
                                    <select model="model.autocompleteModel" autocomplete
                                            class="Autocomplete Autocomplete--large Autocomplete--white Autocomplete--searchIcon"></select>
                                </div>
                            </h1>

                        </div>

                    </div>
                    <!-- Row 1-->

                    <div class="row" style="margin: -30px;padding-bottom: 0px;margin-bottom: 0px;margin-top: 25px">
                        <div class="col-md-12 Panel text-center" style="
            margin-bottom: 0px;border-radius:0px;padding:15px 10px;font-size: 13px;position: relative;top: 45px;">
                            <div class="col-md-4" style="color:#74BAD8">
                                <h3 style="font-weight: 700">{{model.stats.hba1c_rep.statSet[0].stat.cRep | number
                                    }}</h3>

                                <p style="font-weight: 500">personer med diabetes som registrerats i NDR senaste 12
                                    mån</p>
                            </div>

                            <div class="col-md-4" style="color:#278470">
                                <h3 style="font-weight: 700">{{ model.stats.hba1c_70.statSet[0].stat.r | number }}%</h3>

                                <p style="font-weight: 500">andel med typ 1-diabetes och senaste HbA1c >70 mmol/mol</p>
                            </div>

                            <div class="col-md-4" style="color:#E14274">
                                <h3 style="font-weight: 700">{{ model.stats.smoking.statSet[0].stat.r | number }}%</h3>

                                <p style="font-weight: 500">andel som röker, senaste 12 månaderna</p>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- <div class="Intro-promos Panel clearfix">
                   <img src="/images/fp_statistics.png">
                 </div>-->
            </div>
        </div>

        <div class="col-md-4">
            <div class="Panel Intro--equalHeights">
                <h3 class="Panel-title">Nyheter</h3>

                <div list model="model.listModelNews"></div>


                <div class="List-readmore">
                    <a href="#/nyheter"
                       class="Button Button--default Button--large Button--centered Button--centered--80">Se alla
                        nyheter</a>
                </div>

                <div class="spacer" style="height: 0px">

                </div>


            </div>
        </div>
    </div>
    <!-- end row -->


    <div class="row">
        <div class="col-md-12">
            <div class="Timeline clearfix" style="display:flex; flex-direction: row;">
                <div style="width: 100px;display:flex;flex-direction: column">
                    <div style="flex: 1" class="center"><strong>NDR</strong></div>
                    <div style="flex: 1" class="center"><strong>Swediabkids</strong></div>
                </div>
                <div style="flex:1;">
                    <div class="Timeline-inner">
                        <div class="row">

                            <div class="col-sm-2">
                                <div class="Timeline-element Timeline-element--first">
                                    <h5>1996</h5>
                                    <span class="Timeline-text">Registret Startades</span>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="Timeline-element">
                                    <h5>2002</h5>
                                    <span class="Timeline-text">Registret online</span>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="Timeline-element">
                                    <h5>2006</h5>
                                    <span class="Timeline-text">Nådde 50% täckningsgrad</span>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="Timeline-element">
                                    <h5>2014</h5>
                                    <span class="Timeline-text">Knappen lanseras</span>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="Timeline-element Timeline-element--last">
                                    <h5>2018</h5>
                                    <span class="Timeline-text">Registren samordnas</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-4">
                            <div class="Timeline-element Timeline-element--first">
                                <h5>2000</h5>
                                <span class="Timeline-text-below">Registret Startades</span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="Timeline-element">
                                <h5>2008</h5>
                                <span class="Timeline-text-below">Registret online</span>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="Timeline-element">
                                <h5>2018</h5>
                                <span class="Timeline-text-below_undo">Statistik i Knappen</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="Panel clearfix">
                <h3 class="Panel-title about-ndr u-noLeftPadding u-noRightPadding" style="float: left;">Nationella
                    Diabetesregistret <strong>kartlägger och utvecklar</strong> diabetesvårdens kvalitet.</h3>

                <div style="text-align: right; float: right;">
                    <a href="#/om-ndr" class="Button Button--large Button--default Button--green">Läs mer om NDR</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row col-wrap">
        <div class="col-md-4">
            <div class="Panel u-equalHeight" style="background: white url('images/annual_report.png');background-size: cover">
                <div class="spacer" style="height:120px;"></div>
                <a target="_blank" href="pdfs/20 years of successful improvements_lowres_singelpage.pdf"
                   class="Button Button--default Button--large Button--centered">20 years report</a>
                <a target="_blank" href="pdfs/Annual_Report_NDR_2013.pdf"
                   class="Button Button--default Button--large Button--centered">Download annual report</a>
                <a target="_blank" href="pdfs/Arsrapport_NDR_2016.pdf"
                   class="Button Button--default Button--large Button--white Button--centered">NDR:s årsrapport</a>
                   <a target="_blank" href="pdfs/Arsrapport_NDR_2016.pdf"
                   class="Button Button--default Button--large Button--white Button--centered">Swediabkids årsrapport</a>
                </div>
        </div>


        <div class="col-md-4">
            <div class="Panel u-equalHeight" style="background: white url('images/patient.png');background-size: cover">

                <div class="spacer" style="height:200px;"></div>
                <h3 class="Panel-title"></h3>

                <div model="{ data: [
          {
            title: 'Risk Prediction of Cardiovascular Disease in Type 2 Diabetes',
            link: 'http://www.google.se'
          },
          {
            title: 'Fler ...',
            link: 'http://www.google.se'
          }
        ]}"></div>

                <a href="#/for-dig-med-diabetes"
                   class="Button Button--default Button--white Button--large Button--centered">För dig med diabetes</a>
            </div>
        </div>


        <div class="col-md-4">
            <div class="Panel u-equalHeight">
                <h3 class="Panel-title">Länkar</h3>


                <ul class="List">

                    <li class="List-item">
                        <div class="List-item-inner">

                            <h3 class="List-item-title">
                                <a target="_blank" href="http://diabetolognytt.se" class="List-item-link">Svensk
                                    Förening för Diabetelogi (SFD)</a>
                            </h3>

                        </div>

                    </li>

                    <li class="List-item">

                        <div class="List-item-inner">

                            <p class="List-item-category"></p>

                            <h3 class="List-item-title">
                                <a target="_blank" href="http://www.swenurse.se/diabetesnurse/" class="List-item-link">Svensk
                                    Förening för Sjuksköterskor i Diabetesvård</a>
                            </h3>

                        </div>

                    </li>

                    <li class="List-item">
                        <div class="List-item-inner">
                            <p class="List-item-category"></p>

                            <h3 class="List-item-title">
                                <a target="_blank" href="http://www.diabetes.se" class="List-item-link">Svenska
                                    Diabetesförbundet</a>
                            </h3>

                        </div>

                    </li>
                    <li class="List-item">
                        <div class="List-item-inner">
                            <p class="List-item-category"></p>
                            <h3 class="List-item-title">
                                <a target="_blank" href="http://swediabkids.ndr.nu/" class="List-item-link">SWEDIABKIDS
                                    (Barndiabetesregistret)</a>
                            </h3>
                        </div>
                    </li>
                    <li class="List-item">
                        <div class="List-item-inner">
                            <p class="List-item-category"></p>
                            <h3 class="List-item-title">
                                <a target="_blank" href="http://cafegruppen.blogspot.se" class="List-item-link">Cafégruppen i Göteborg</a>
                            </h3>
                        </div>
                    </li>
                    <li class="List-item">
                        <div class="List-item-inner">
                            <p class="List-item-category"></p>
                            <h3 class="List-item-title">
                                <a target="_blank" href="http://www.drf.nu/" class="List-item-link">Dietisternas Riksförbund</a>
                            </h3>
                        </div>
                    </li>
                    <li class="List-item">
                        <div class="List-item-inner">
                            <p class="List-item-category"></p>
                            <h3 class="List-item-title">
                                <a target="_blank" href="http://www.registercentrum.se" class="List-item-link">Registercentrum Västa Götaland</a>
                            </h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>


    <!-- <div class="row">
       <div class="col-md-12">
         <div class="Panel Twitter">
           <h1 class="Twitter-tweet">"Träffa oss på kvalitetsdagarna i Stockholm"</h1>

           <div><a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false" data-lang="sv" data-size="large">Följ @twitter</a>
           <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>

           <!--<div class="Button Button--default"><a ui-sref="om"></a></div>
         </div>
       </div>
     </div>-->

</div><!-- end container -->
