.Report-form {
  counter-reset: report;
	line-height: 1 !important;
	font-size: 13px !important;

}

.Report-formGroup {
  padding: 12px 0;
  position: relative;
//  border-bottom: 1px solid #eee;
  counter-reset: item;

  &:after {
	content: ' ';
	display: table;
	clear: both;
  }

  &:nth-child(2n+1) {
	background-color: rgba(225, 210, 200, 0.3)
  }
}

.Report-formGroup-label {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

.Report-form .form-control  {
	font-size:13px;
}
.Report-form .row {
	margin: 0 !important;
}
.Report-formGroup-form {
  padding-bottom: 12px;
}

.Report-formGroup .helpNote {
	margin-left: 5px;
	color: @ndr-blue;
}

.Report-patientMeta {
  margin-top: 5px;
}

.Report-submitWrapper button {
	font-size: 16px;
	padding: 12px;
}