

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="Page-title">Nyheter</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="Panel">

                <h2 class="Panel-title">Senaste</h2>

                <article class="clearfix News" ng-repeat="newsItem in news">
                    <div class="News-image col-md-3 u-noLeftPadding">
                        <img ng-if="newsItem.image" ng-src="{{ newsItem.image }}" class="News-image-img">
                    </div>
                    <div class="News-text col-md-9 u-noRightPadding">
                        <h2 class="News-text-title">
                            <a href="{{newsItem.link}}" class="News-text-title-link">{{ newsItem.title }}</a>
                        </h2>
                        <p class="News-text-date">{{ newsItem.createdAt | date: 'mediumDate' }}</p>
                        <div class="News-text-body" ng-bind-html="newsItem.excerpt"></div>
                        <p class="News-text-readmore">
                            <a href="{{ newsItem.link }}" class="News-text-readmore-link">Läs mer &raquo;</a>
                        </p>
                    </div>

                </article>

            </div>
        </div>


        <div class="col-md-4">
            <div class="Panel">
                <h4 class="Panel-title">Om NDR</h4>
                <p>Nationella Diabetesregistret (NDR) startades 1996 och drivs av Svensk Förening för Diabetologi (SFD) på uppdrag och med stöd av Sveriges Kommuner och Landsting.</p>
                <a href="#/om-ndr" class="Button Button--default Button--centered Button--centered--60">Läs mer</a>

            </div>
        </div>

    </div>

</div>