.Header{
  background-color: white;
}

.Header-extras{
  min-height: 110px;
}

.Logo{
  position: relative;
  top:30px;
}

.Header-navbar{

}

.SecondaryMenu {
  float: left;
  font-size: 15px;
  padding-top: 40px;
  padding-bottom: 20px;

  > a {
    margin-right: 10px;
  }

  .dropdown {
    display: inline-block;
    z-index: 5000;
  }

  @media (min-width: 1200px) {
    float: right;
  }
}
