.Header{
  background-color: white;
}

.Header-extras{
  min-height: 90px;
}

.Logo{
  position: relative;
  top:18px;
}

.Header-navbar{

}


.AccountMenu{
  padding-top: 15px;
  float: right;
}

.SecondaryMenu {
  clear:both;
  float: right;
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;

  > a {
    margin-right: 10px;
  }

  .dropdown {
    display: inline-block;
    z-index: 5000;
  }

  @media (min-width: 1200px) {
    float: right;
  }
}
