.Header{
  background-color: white;
}

.Header-extras{
  //min-height: 90px;
}

.Logo{
  position: relative;
  top:13px;
  width:275px;
}

.Header-navbar{

}
.LoginButton{
  display: inline-block;
}

.AccountMenu{
  //padding-top: 29px;
  float: right;
}

.SecondaryMenu {

  display: inline-block;

  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;

  > a {
    margin-right: 10px;
    color: #5B5B5B;

  }

  .dropdown {
    display: inline-block;
    z-index: 5000;
  }

  @media (min-width: 1200px) {
    //float: right;
  }
}
