<div class="Header" ng-controller="HeaderController">
    <div class="Header-extras">
        <div class="container">
            <a class="Logo pull-left" ui-sref="main.home" title="Start"><img src="images/logo.png" alt="Start"></a>


            <div class="AccountMenu">

                <div class="SecondaryMenu" style="padding: 30px 0px;">
                    <a ui-sref="main.english" title="">In English</a>
                    <a ui-sref="main.compare" title="">Knappen</a>
                    <a ui-sref="main.risk" title="">Riskmotor</a>
                    <a ui-sref="main.forms" title="">Dokument</a>
                </div>

                <div ng-show="accountModel.activeAccount || accountModel.subject" class="dropdown LoginButton">

                    <button type="button" class="Button dropdown-toggle Button--grey" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true" ui-sref="main.account.home">
                        {{ accountModel.user.firstName + ' ' + accountModel.user.lastName }} <span ng-show="accountModel.activeAccount" style="font-size: 12px">{{ ': ' + accountModel.activeAccount.unit.name | characters:26 }}</span>
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">

                        <li ng-show="accountModel.user" style="margin-top: 20px; font-weight: bold; font-size: 13px;margin-left:15px;" role="presentation">
                            E-tjänster för vårdpersonal
                        </li>

                        <li role="separator" class="divider"></li>

                        <li role="presentation">
                            <a ui-sref="main.account.home" title="">Översikt</a>
                        </li>
                        <li role="presentation">
                            <a ui-sref="main.account.report" title="">Rapportera</a>
                        </li>
                        <li ng-show="accountModel.activeAccount.unit.isUsingPROM" role="presentation">
                            <a ui-sref="main.account.survey" title="">Diabetesenkäten</a>
                        </li>

                        <li role="presentation">
                            <a ui-sref="main.account.patient" title="">Patientprofilen</a>
                        </li>

                        <li role="presentation">
                            <a ui-sref="main.currentUser" title="">Mitt användarkonto</a>
                        </li>

                        <li ng-show="accountModel.subject" style="margin-top: 20px; font-weight: bold; font-size: 13px;margin-left:15px;" role="presentation">
                            E-tjänster för dig med diabetes
                        </li>

                        <li role="separator" class="divider"></li>


                        <li ng-show="accountModel.subject" role="presentation">
                            <a ui-sref="main.subject.home" title="">Översikt</a>
                        </li>

                        <li ng-show="accountModel.subject" role="presentation">
                            <a ui-sref="main.subject.surveys" title="">Mina enkäter</a>
                        </li>

                        <li ng-show="accountModel.subject" role="presentation">
                            <a ui-sref="main.subject.profile" title="">Min diabetesprofil</a>
                        </li>

                        <li style="margin-top: 20px; font-weight: bold; font-size: 13px;margin-left:15px;" role="presentation">
                            Mina enheter
                        </li>

                        <li role="separator" class="divider"></li>


                        <li ng-repeat="account in accountModel.user.activeAccounts" role="presentation">
                            <a role="menuitem" tabindex="-1"  ng-click="accountService.updateAccount(account.accountID)">{{account.unit.name}}</a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="accountService.logOut()">Logga ut</a></li>
                    </ul>
                </div>

                <div style="margin: 30px 0px; display: inline-block" ng-show="!accountModel.activeAccount && !accountModel.user.activeAccounts" class="dropdown">
                    <a href ng-if="!accountModel.activeAccount && !accountModel.user.activeAccounts" ui-sref="main.login">
                        Logga in
                    </a>
                    <!--<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">-->
                        <!--<li ng-repeat="account in accountModel.user.activeAccounts" role="presentation">-->
                            <!--<a href="" role="menuitem" tabindex="-1"  ng-click="accountService.updateAccount(account.accountID)">{{account.unit.name}}</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>



            </div>

            <!--<a ui-sref="main.accountAbout" ng-show="!accountModel.activeAccount" title="">Konto / Inloggning</a>-->
            <!--<a ui-sref="main.login" ng-show="!accountModel.activeAccount" title="">Logga in med Bank-ID</a>-->
            <!--<a ui-sref="main.currentUser" ng-show="accountService.accountModel.user" title="">Mitt tjänstekort</a>-->



        </div>
    </div>

    <div ng-include="'src/components/Navbar/navbar.html'"></div>
</div>
