<div class="Header" ng-controller="HeaderController">
    <div class="Header-extras">
        <div class="container">
            <a class="Logo pull-left" ui-sref="main.home" title="Start"><img src="images/logo.png" alt="Start"></a>


            <div class="AccountMenu">

                <div ng-show="accountModel.activeAccount" class="dropdown">
                    <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true" ui-sref="main.account.home">
                        <i class="fa fa-user"></i> {{ accountModel.user.firstName + ' ' + accountModel.user.lastName + ': ' }} <span style="font-size: 12px">{{ accountModel.activeAccount.unit.name | characters:26 }}</span>
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">

                        <li role="presentation">
                            <a ui-sref="main.account.home" title="">Översikt</a>
                        </li>
                        <li role="presentation">
                            <a ui-sref="main.account.report" title="">Rapportera</a>
                        </li>
                        <li role="presentation">
                            <a ui-sref="main.currentUser" title="">Mitt användarkonto</a>
                        </li>

                        <li style="margin-top: 20px; font-weight: bold; font-size: 13px;margin-left:15px;" role="presentation">
                            Mina enheter
                        </li>

                        <li ng-repeat="account in accountModel.user.activeAccounts" role="presentation">
                            <a role="menuitem" tabindex="-1"  ng-click="accountService.updateAccount(account.accountID)">{{account.unit.name}}</a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="accountService.logOut()">Logga ut</a></li>
                    </ul>
                </div>

                <div ng-show="!accountModel.activeAccount && accountModel.user.activeAccounts" class="dropdown">
                    <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" >
                        Logga in
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="account in accountModel.user.activeAccounts" role="presentation">
                            <a role="menuitem" tabindex="-1"  ng-click="accountService.updateAccount(account.accountID)">{{account.unit.name}}</a>
                        </li>
                    </ul>
                </div>

                <a hre ng-if="!accountModel.activeAccount && !accountModel.user.activeAccounts" ui-sref="main.login">
                    Logga in
                </a>

            </div>

            <!--<a ui-sref="main.accountAbout" ng-show="!accountModel.activeAccount" title="">Konto / Inloggning</a>-->
            <!--<a ui-sref="main.login" ng-show="!accountModel.activeAccount" title="">Logga in med Bank-ID</a>-->
            <!--<a ui-sref="main.currentUser" ng-show="accountService.accountModel.user" title="">Mitt tjänstekort</a>-->


            <div class="SecondaryMenu">
                <a ui-sref="main.english" title="">In English</a>
                <a ui-sref="main.compare" title="">Knappen</a>
                <a ui-sref="main.risk" title="">Riskmotor</a>
                <a ui-sref="main.forms" title="">Dokument</a>
            </div>

        </div>
    </div>

    <div ng-include="'src/components/Navbar/navbar.html'"></div>
</div>
