<!-- Static navbar -->
<div class="Navbar navbar navbar-default navbar-static-top" role="navigation" ng-controller="HeaderController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li ng-class="{active: $state.includes('statistics')}" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200" data-close-others="false" ui-sref="main.statistics" ui-sref-active-eq="main.statistics"><i class="fa fa-bar-chart"></i> Statistik</a>
                    <ul class="dropdown-menu">
                        <li class="" ui-sref-active="active"><a ui-sref="main.statistics">Sök landsting och vårdenheter</a>
                        <li class="" ui-sref-active="active"><a ui-sref="main.compare">Jämförelser / Knappen</a>
                        <li class="" ui-sref-active="active"><a ui-sref="main.statistics">Årsrapport</a>
                        <li class="" ui-sref-active="active"><a ui-sref="main.statistics">Om statistiken</a>
                    </ul>
                </li>
                <li ui-sref-active="active"><a ui-sref="main.patient"><i class="fa fa-user"></i> För dig med diabetes</a></li>


                <li ui-sref-active="active"><a ui-sref="main.improvement"><i class="fa fa-lightbulb-o"></i> Förbättringsprojekt</a></li>
                <li ui-sref-active="active"><a ui-sref="main.research"><i class="fa fa-flash"></i> Forskning</a></li>

                <li ui-sref-active="active"><a ui-sref="main.about"><i class="fa fa-map-marker"></i> Om NDR</a></li>


                    <li ui-sref-active="active"><a ui-sref="main.guidelines"><i class="fa fa-lightbulb-o"></i> Style guidelines</a></li>
                <span ng-show="params.debug=='true'">
                    <li ui-sref-active="active"><a ui-sref="main.profiles.county({id : 6})"><i class="fa fa-lightbulb-o"></i> Test: Landsting</a></li>
                    <li ui-sref-active="active"><a ui-sref="main.profiles.unit({id : 44})"><i class="fa fa-lightbulb-o"></i> Test: Enhet</a></li>
                </span>


                <!--<li ui-sref-active-eq="active"><a ui-sref="account.home"><i class="glyphicon glyphicon-home"></i> Min startsida</a></li>-->


            </ul>
            <ul class="nav navbar-nav navbar-right">


            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>