<!-- Static navbar -->
<div class="Navbar navbar navbar-default navbar-static-top" role="navigation" ng-controller="NavController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active:$state == 'main.home' }"><a ui-sref="main.home" title="Start"><i class="fa fa-home"></i> Start</a>
                <li ng-class="{active:$state == 'main.statistics' || $state == 'main.annualReport' || $state == 'main.risk'  || $state == 'main.statisticsAbout' || $state == 'main.compare' || $state == 'main.profiles.county' || $state == 'main.profiles.unit' }" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200" data-close-others="false" ui-sref="main.statistics"><i class="fa fa-bar-chart"></i> Statistik</a>
                    <ul class="dropdown-menu">
                        <li class="" ng-class=""><a ui-sref="main.statistics">Sök landsting och vårdenheter</a>
                        <li class="" ui-sref-active="active"><a ui-sref="main.compare">Jämförelser / Knappen</a>
                        <li class="" ui-sref-active="active"><a ui-sref="main.annualReport">Årsrapport</a>
                        <li class="" ui-sref-active="active"><a ui-sref="main.statisticsAbout">Om statistiken</a>
                    </ul>
                </li>
                <li ng-class="{active:$state == 'main.patient' || $state == 'main.prom' }"><a ui-sref="main.patient"><i class="fa fa-user"></i> För dig med diabetes</a></li>
                <li ui-sref-active="active"><a ui-sref="main.improvement"><i class="fa fa-lightbulb-o"></i> Förbättringsprojekt</a></li>
                <li ng-class="{active:$state == 'main.research' || $state == 'main.researchItem'}"><a ui-sref="main.research"><i class="fa fa-flash"></i> Forskning</a></li>
                <!--<li ui-sref-active="active"><a ui-sref="main.about"><i class="fa fa-map-marker"></i> Om NDR</a></li>-->

                <li ng-class="{active:$state == 'main.about' || $state == 'main.press' }" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200" data-close-others="false" ui-sref="main.about"><i class="fa fa-map-marker"></i> Om NDR</a>
                    <ul class="dropdown-menu">
                        <li class="" ng-class=""><a ui-sref="main.about">Kontakt</a>
                        <li class="" ui-sref-active="active"><a ui-sref="main.press">Press</a>
                    </ul>
                </li>
                <li ng-class="{active:$state == 'main.about' || $state == 'main.press' }" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200" data-close-others="false" ui-sref="main.aboutSwediabkids"><i class="fa fa-map-marker"></i> Om Swediabkids</a>
                </li>

                    <!--<li ui-sref-active="active"><a ui-sref="main.guidelines"><i class="fa fa-lightbulb-o"></i> Style guidelines</a></li>-->
                <!--<span ng-show="params.debug=='true'">
                    <li ui-sref-active="active"><a ui-sref="main.profiles.county({id : 6})"><i class="fa fa-lightbulb-o"></i> Test: Landsting</a></li>
                    <li ui-sref-active="active"><a ui-sref="main.profiles.unit({id : 44})"><i class="fa fa-lightbulb-o"></i> Test: Enhet</a></li>
                </span>-->


                <!--<li ui-sref-active-eq="active"><a ui-sref="account.home"><i class="glyphicon glyphicon-home"></i> Min startsida</a></li>-->


            </ul>
            <ul class="nav navbar-nav navbar-right">


            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
