.Timeline {
  background-color: @ndr-darkgreen;
  color: #fff;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  text-align: center;
  padding: 20px;

  h5 {
    margin: 0;
  }
}


@media (min-width: 768px) {

  .Timeline-inner {
    padding-bottom: 25px;
    background: @ndr-darkgreen url('../images/timeline_bg.png') bottom center repeat-x;
  }

  .Timeline-text {
    display: block;
    white-space: nowrap;

    &:after {
      content: '\f017';
      font-family: icomoon;
      display: block;
      font-weight: 400;
      position: absolute;
      color: rgba(255,255,255,.8);
      background-color: @ndr-darkgreen;
      padding: 5px 8px;
      font-size: 1.2em;
      left: 50%;
      margin-left: -15px;
    }
  }

  .Timeline-element--first {
    .Timeline-text:after {
      width: 50%;
      text-align: right;
      left: 10px;
      margin-left: 0;
    }
  }

  .Timeline-element--last {
    .Timeline-text:after {
      width: 50%;
      text-align: left;
      left: auto;
      right: 10px;
      margin-left: 0;
    }
  }
  .Timeline-text-below:before {
    content: '\f017';
    font-family: icomoon;
    display: block;
    font-weight: 400;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    background-color: #278470;
    padding: 0px 8px;
    font-size: 1.2em;
    left: 50%;
    top: -30px;
    margin-left: -15px;
  }
  .Timeline-element--first .Timeline-text:before {
    width: 50%;
    text-align: right;
    left: 10px;
    margin-left: 0;
  }
  .Timeline-element--last .Timeline-text:before {
    width: 50%;
    text-align: left;
    left: auto;
    right: 10px;
    margin-left: 0;
  }

}