<div>
    <a class="pull-right" ng-click="openModalSelectPeriod()" style="font-size: 14px; cursor: pointer;">Ladda ner grunddata</a>
	<!-- end Panel -->
	<script type="text/ng-template" id="modalSelectPeriod.html">
		<div class="modal-body text-center contact-csv-export">
		        <a class="pull-right" ng-click="cancel()"><i style="color:#333" class="fa fa-close"></i></a>
		
		        <h3>Information</h3>
		        <div class="row" class="upper">
                    <div class="col-sm-12">
                        <div class="text-info">
                            <div class="Panel Panel--blue">Tänk på att filen som laddas ner innehåller personuppgifter och därför behöver hanteras i enlighet med gällande regler.</div>
                            <p>Vill du ladda ner en fil som innehåller din vårdenhets besöksdata från perioden du väljer?</p>
                        </div>
                        <div ng-show="!showForm">

							<button
								ng-click="showForm = true"
								class="Button Button--info">
								Ja
							</button>
							<button
								ng-click="cancel()"
								class="Button Button--danger">
								Nej
							</button>


                            <!--<button
                            ng-click="showForm = true"
                            class="Button Button--default ng-binding Button--default Button--info">
                                JA
                            </button>
                            <button
                            ng-click="cancel()"
                            class="Button Button--default ng-binding Button--default Button--info">
                                Nej, återgå till söklistan
                            </button>-->
                        </div>
                    </div>
		        </div>
		        <div ng-show="showForm" class="lower">
                    <h3>Välj period</h3>
		            <div class="row"> 
		                <div class="MultiFilter-row-label col-sm-4" style="margin-top: 5px;">Besöksperiod</div>
		                <div class="MultiFilter-row-filterKnobs col-sm-8">
		                    <div class="FilterDatePopup">
		                        <div class="input-group">
		                            <div style="display: flex">
		                                <div style="" ng-class="{ 'has-error' : searchForm.dateFrom.$invalid }">
		                                    <input type="text" name="dateFrom" placeholder="Datum från" required ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/" ng-change="tryLoad()" class="form-control" ng-model="query.dateFrom" />
		                                </div><span>&#160</span>
		                                <div style="" ng-class="{ 'has-error' : searchForm.dateTo.$invalid }">
		                                    <input type="text" name="dateTo" placeholder="Datum till" required ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/" ng-change="tryLoad()" class="form-control" ng-model="query.dateTo" />
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-sm-12">
		                    <a ng-click="initDownload()" class="Button Button--info Button--centered">Ladda ner</a>
		                </div>
		            </div>
		        </div>
	</script>
</div>