

<div class="row">
  <div class="col-md-12">
    <h2 class="Page-title mt0">Min Diabetesprofil</h2>
    <h4>{{subject.socialNumber}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 subjectProfile">

    <tabset justified class="nav-tabs-secondary nav-tabs-negative-15">

      <tab heading="{{ tabOversight.heading }}" active="tabOversight.active">


        <div class="row">
          <div class="col-md-12">
            <div class="btn-group fr mt4 mb4">
              <a class="" ng-model="model.mode" btn-radio="'visual'"><i class="fa fa-area-chart"></i> Profil</a>
              <a class="" ng-model="model.mode" btn-radio="'table'"><i class="fa fa-table"></i> Tabell </a>
            </div>

          </div>
        </div>

        <div ng-show="model.mode == 'visual'">
          <div class="row mt4">

          <div class="col-md-4">
            <div class="P">
              <div class="title">
                <h1>Grunddata</h1>
              </div>
              <div class="body">
                <p class="mb0">{{ (subject.diabetesType ? diabetesTypeText() : 'Saknar diabetesTyp') + (subject.yearOfOnset ? ' sedan ' + subject.yearOfOnset : '') }}</p>
                <p>
                  Behandling: {{ model.latest.treatment.label }}</p>
                </p>
                <p ng-show="model.latest.insulinMethod.value == 2">
                  Metod att ge insulin: {{ model.latest.insulinMethod.label }}
                </p>
                <p ng-show="model.latest.insulinMethod.label == 'Insulinpump'">
                  Pågående pumpmodell: {{ model.latest.pumpOngoing.label }}
                </p>
                <p ng-show="model.latest.cgm.value">
                  CGM/FGM: {{ model.latest.cgm.label + ((model.latest.cgmType.value && model.latest.cgm.value) ? ', ' + model.latest.cgmType.label : '') }}
                </p>
              </div>
            </div> <!-- End of grunddata-->
          </div> <!-- End of column-->

          <div class="col-md-4">
            <div class="P">
              <div class="title">
                <h1>Fysisk aktivitet</h1>
              </div>
              <div class="body">
                <div class="PhysicalChart" physical-chart model="model.latest.physicalActivity">
                  <div style="padding-top:10px;clear:both"></div>
                  <div
                          ng-repeat="item in model.latest.physicalActivity.domainValues"
                          ng-style="{'font-weight' : model.latest.physicalActivity.value == item.code ? 'bold' : 'normal' }"
                          style="text-align:center;width: 20%;float:left"
                          ng-class="{'active' : model.latest.physicalActivity.value == item.code }">
                    <div style="height:35px;border:2px solid #fff;" ng-style="{'background-color' : model.latest.physicalActivity.value == item.code ? '#74bad8' : '#ccc' }"></div>
                    <span style="font-size: 12px">{{ item.text}}</span>
                  </div>
                  <div style="text-align: center">Antal gånger per vecka<i class="fa fa-question-circle helpNote" tooltip="All fysisk aktivitet som pågår minst 30 min räknas."></i></div>
                </div>
              </div>
            </div> <!-- End of grunddata-->
          </div> <!-- End of column-->


            <div class="col-md-4">
              <div class="P">
                <div class="title">
                  <h1>Rökning</h1>
                </div>
                <div class="body">
                  <h3 class="text-center" style="margin-top: 10px">{{ model.latest.smokingHabit.label }}</h3>

                </div>
              </div> <!-- End of grunddata-->
            </div> <!-- End of column-->


          </div> <!-- End of row-->
          <div class="row mt4">

            <div class="col-md-4">
              <div class="P">
                <div class="title">
                  <h1>Fötter</h1>
                </div>
                <div class="body">
                  <table class="table table-condensed">
                    <tr>
                      <td>Riskkategori</td>
                      <td>{{ model.latest.footRiscCategory.label }}</td>
                    </tr>
                    <tr>
                      <td>Senaste fotundersökning</td>
                      <td>{{ model.latest.footExaminationDate.label }}</td>
                      <td>
                        <div ng-show="checkFootDate(model.latest.footExaminationDate)">
                          <i tooltip="OBS: Senaste rapporterade fotundersökning har ett datum mer än 1 år tillbaka i tiden." class="fa fa-exclamation"></i>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div> <!-- End of grunddata-->
            </div> <!-- End of column-->


          <div class="col-md-4">
            <div class="P">
              <div class="title">
                <h1>Ögon</h1>
              </div>
              <div class="body">
                <table class="table table-condensed">
                  <tr>
                    <td width="80">Diabetesretinopati<i class="fa fa-question-circle helpNote" tooltip="Diabetesretinopati betyder att blodkärlen i ögats näthinna är påverkade på grund av diabetes. Det finns olika grader av diabetesretinopati, där den lindrigaste graden, simplex retinopati inte påverkar synen och inte föranleder någon behandling av ögonen."></i></td>
                    <td width="20" style="width:50%">{{ model.latest.diabeticRetinopathy.label }}</td>
                  </tr>
                  <tr>
                    <td width="80">Diagnos på sämsta ögat</td>
                    <td width="20">{{ model.latest.diabeticRetinopathy.value != 0 ? model.latest.retinopathyDiagnosis.label : null  }}</td>
                  </tr>
                  <tr>
                    <td width="80">Behandlad för ögonkomplikation</td>
                    <td width="20">{{ model.latest.eyeTreated.label}}</td>
                  </tr>
                  <tr>
                    <td width="80">Senaste ögonbottenundersökning</td>
                    <td width="20">{{  model.latest.fundusExaminationDate.label }}</td>
                  </tr>
                  <tr>
                    <td width="80">Synnedsättning p.g.a. diabetes</td>
                    <td width="20">{{ model.latest.visualLoss.label  }}</td>
                  </tr>
                </table>

                </div>
              </div> <!-- End of grunddata-->
            </div> <!-- End of column-->


          <div class="col-md-4">
            <div class="P">
              <div class="title">
                <h1>Njurar</h1>
              </div>
              <div class="body">
                <table class="table table-condensed">
                  <tr>
                    <td>Senaste S-Kreatininvärde<i class="fa fa-question-circle helpNote" tooltip="Kreatinin är ett ämne som normalt bildas i muskulaturen och som utsöndras via urinen. Förhöjt kreatininvärde tyder på försämrad njurfunktion. Referensvärdet varierar beroende på ålder och kön.  Kvinnor över 18 år 45-90 µmol/L, män över 18 år 60-105 µmol/L."></i></td>
                    <td>{{ model.latest.creatinine.label }}</td>
                  </tr>
                  <tr>
                    <td>Albuminuri<i class="fa fa-question-circle helpNote" tooltip="Albuminuri innebär att njurarna påverkats av diabetessjukdomen och att det läcker ut proteiner i urinen."></i></td>
                    <td>{{ model.latest.albuminuria.label }}</td>
                  </tr>
                </table>
              </div>
            </div> <!-- End of grunddata-->
          </div> <!-- End of column-->


          </div> <!-- End of row-->
          <div class="row mt4">

            <div class="col-md-12">

              <div class="P">
                <div class="title">
                  <h1>Utveckling över tid</h1>
                </div>
                <div class="body">

                <div class="row pv4" ng-repeat="chart in subject.charts">
                  <h4 class="col-md-12">{{ chart.title }}<i class="fa fa-question-circle helpNote" ng-if="chart.helpText" tooltip="{{chart.helpText}}"></i></h4>
                  <div class="col-md-9">
                    <div
                            line-chart
                            model="chart.series"
                            y-max="{{ chart.yMax }}"
                            y-min="0"
                            date-format="%Y-%m-%d"
                            height="200"
                            color="#5EBCDC"
                    ></div>
                  </div>
                  <div class="col-md-3">
                    Senaste {{ chart.title }}<br />
                    <span class="f1 b">{{ chart.latest }}</span>
                  </div>
                </div>


                </div>
              </div> <!-- End of charts-->

            </div> <!-- End of column-->

          </div> <!-- End of row-->
        </div>

        <div class="Panel" ng-show="model.mode == 'table'">
          <h2>Registerutdrag</h2>
          <div class="row">
            <div class="btn-group pull-right" style="margin: 0 16px 10px 0;">
              <a class="Button Button--info Button--small" ng-click="tableForward()" ng-show="model.tableCount>1 && model.tableIndex>1" ><i class="fa fa-arrow-circle-left"></i> Framåt</a>
              <a class="Button Button--info Button--small" ng-click="tableBack()"  ng-show="model.tableCount>1 && model.tableIndex<model.tableCount" >Bakåt  <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="table-responsive">
            <table style="font-size: 13px" class="Table--fixed table table-striped table-bordered row-border hover visits-table">
              <thead>
              <tr>
                  <th class="key"></th>
                  <th ng-repeat="date in model.data.table.header.values">{{ date | date : 'dd MMM yyyy'}}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="contact in model.data.table.body | orderBy: 'sequence'">
                  <td class="key">{{ contact.label }}</td>
                  <td ng-repeat="value in contact.values track by $index">{{ value }}</td>
              </tr>
              </tbody>
          </table>
          </div>
        </div>




      </tab>

      <tab heading="{{ tabAnsweredSourveys.heading }}" active="tabAnsweredSourveys.active">


        <div class="row mt4">

          <div class="col-md-12">

            <div class="P">
              <div class="title">
                <h1>Senaste enkäten ({{ model.latestInvite.submittedAt | date:'yyyy-MM-dd'  }})</h1>
              </div>

              <div class="body">
                <div ng-if="model.selectedInviteData.length > 0" bar-chart categories="model.categories" model="model.selectedInviteData"></div>
              </div>

            </div>


            <div class="P">
              <div class="title">
                <h1>Utveckling över tid</h1>
              </div>

              <div class="body">
                <div line-chart-prom-combined model="model.promSeries"></div>
              </div>
            </div>

          </div>

        </div>


        <!--<div ng-repeat="group in PROMFormMeta" class="row">
          <h3 class="col-md-12 pv5">{{ group.groupID }}. {{ group.description }}</h3>
          <div ng-repeat="survey in subject.surveys[group.groupID]" class="pv4">
            <h4 class="col-md-12">{{ survey.dimension.desc }}</h4>
            <div class="col-md-9">
              <div
                line-chart
                model="survey.series"
                y-min="0"
                y-max="100"
                height="200"
                color="#4A99C5"
              ></div>
            </div>
            <div class="col-md-3">
              Senaste värdet<br />
              <span class="f1 b">{{ survey.latestOutcome }}</span>
              <sup
                ng-show="survey.diffFromPrevious !== null"
                ng-class="{red: survey.diffFromPrevious < 0}"
              >{{ survey.diffFromPrevious }}</sup>
            </div>
          </div>
        </div>-->
      </tab>
    </tabset>
  </div>
</div>