.Intro {
  position: relative;
}

.Intro-backgroundImage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('../images/front_lg_blur.jpg');
  border-radius: 4px;
}

.Intro-image,
.Intro-content {
  color: #fff;
  position: relative;
  z-index: 10;
  // min-height: 430px;
}

.Intro-promos {
  clear: both;
  position: relative;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 30px;

  &.Panel {
    border-radius: 0;
    margin-bottom: -30px;
  }
}


.Intro-content-text {
  font-size: 25px;
  line-height: 1.8;
  margin: 0;
}

.Intro-content-text-partial {
  display: inline-block;
  padding: 0 25px 0 20px;
  margin: 3px 0;
  background-color: @ndr-blue;

  background-color: rgba(red(@ndr-blue), green(@ndr-blue), blue(@ndr-blue), 0.8);


  // -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=@ndr-blue, endColorstr=@ndr-blue)";

}





.Intro-content-text-partial--heading {
  font-weight: 400;
}