.Page-title {
  font-size: 40px;
  margin-top: 20px;
  line-height: 1.2;
}

.Page-subtitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
}


// Scaffolding
@body-bg: @ndr-gray;
@text-color: @gray-dark;
@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);
@padding-base-vertical: 6px;
@padding-base-horizontal: 12px;
@padding-large-vertical: 10px;
@padding-large-horizontal: 16px;
@padding-small-vertical: 5px;
@padding-small-horizontal: 10px;
@border-radius-base: 4px;
@border-radius-large: 6px;
@border-radius-small: 3px;
@line-height-large: 1.33;
@line-height-small: 1.5;
@component-active-bg: @brand-primary;