<div class="row">

    <div class="col-sm-3">
        <!--<h5 style="font-size: 12px">{{ accountModel.activeAccount.unit.name }}</h5>-->
        <h1 class="Page-title">Översikt

        </h1>

    </div>

    <form class="col-sm-9 text-right" role="search" name="subjectForm" novalidate>
        <div class="PatientSearch">
            <div class="PatientSearch-inner">
				<span class="PatientSearch-icon">
				  <i class="fa fa-search" style="color:#999"></i>
				</span>
                <input class="PatientSearch-input" ng-model="socialnumber" type="search" placeholder="Skriv in personnummer" required ng-pattern="accountHelpers.pnrRegex">
                <button class="PatientSearch-searchButton" ng-click="gotoReport()" ng-disabled="!subjectForm.$valid">Rapportera / Komplettera</button>
                <button ng-click="gotoProfile()" style="border-left: 1px solid white;" class="PatientSearch-reportButton" ng-disabled="!subjectForm.$valid">Diabetesprofil</button>
            </div>
        </div>
    </form>
</div>


<div class="row">

    <div class="col-md-12">

        <div class="Panel">
            <h3><i class="fa fa-lightbulb-o"></i> Anslagstavlan</h3>
            <ul class="List">

                <li ng-repeat="item in model.newsList" class="List-item">

                    <div class="List-item-inner">

                        <div style="font-size:13px"> <span>{{ item.createdAt | date: 'mediumDate' }}</span></div>
                        <div class="List-item-title"><strong>{{ item.title }}</strong></div>
                        <p class="News-text-date"></p>
                        <p ng-bind-html="item.body">
                        </p>

                    </div>

                </li>

            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="Panel">
            <div key-indicators light="true" model="model"></div>
        </div>
    </div>
</div>

<!--<div>

       <div class="col-md-6">

           <div class="Panel">


               <p>Här kommer det info som berör dig/ditt konto</p>

               <p>Du är nu inloggad som: {{ accountModel.user.firstName + " " + accountModel.user.lastName }}</p>


               <h3>Beta-information</h3>
           <pre>

               {{ serverError }}
               {{ accountModel | json  }}
           </pre>

           </div>

       </div>

   </div>-->
