.Table {

  width: 100%;
  font-size: 12px;


  td {
    padding: 10px;
  }

  thead {
    border-bottom: 1px solid @gray-lighter;
    td {
      font-weight: 700;
    }
  }
}

.Table--with-header {

  thead {
    background-color: #dedede;
  }
}

.Table--patient {
  td{
    border: none !important;
  }
}

#Table--patients {

  .details-control{
    cursor: pointer;
    color: @ndr-blue;
    padding: 0;
    padding-top: 10px;
    text-align: center;
    width:30px;
  }

  .details {
    .fa-plus-circle:before {
      content: "\f068";
    }
  }

  .visit-detail {
    border: none;
  }
}

.borderless td {
  border: none;
}

.Table--fixed {
  table-layout: fixed;
}