.grunticon-icon_heart { background-image: url('grunticon/png/icon_heart.png'); background-repeat: no-repeat; }

.grunticon-icon_pen { background-image: url('grunticon/png/icon_pen.png'); background-repeat: no-repeat; }

.grunticon-icon_report { background-image: url('grunticon/png/icon_report.png'); background-repeat: no-repeat; }

.grunticon-icon_search { background-image: url('grunticon/png/icon_search.png'); background-repeat: no-repeat; }

.grunticon-icon_user { background-image: url('grunticon/png/icon_user.png'); background-repeat: no-repeat; }

